# Python 3  Agustin Villa 4/8/2024
In this notebook you will find the examples used to learn Python (Codecademy: Learn Python 3)

#### Hello World

In [2]:
# This is a python comment, can be used to explain your code

In [3]:
# Print the distinguished greeting “Hello world!”
print("Hello world!")

Hello world!

In [4]:
# Print your name using the print() command.
print("Agustin Villa")

Agustin Villa

SyntaxError: means there is something wrong with the way your program is written — punctuation that does not belong, a command where it is not expected, or a missing parenthesis can all trigger a SyntaxError

NameError: occurs when the Python interpreter sees a word it does not recognize. Code that contains something that looks like a variable but was never defined will throw a NameError

ZeroDivisionError: Python will raise this error when attempting to divide by 0

In [5]:
#Print out the result of this equation: 25 * 68 + 13 / 28
print(25 * 68 + 13 / 28)

1700.4642857142858

In [6]:
'''
You’ve decided to get into quilting! To calculate the number of squares you’ll need for your first quilt let’s create two variables: quilt_width and quilt_length. Let’s make this first quilt 8 squares wide and 12 squares long.
'''
quilt_width = 8
quilt_length = 12

# Print out the number of squares you’ll need to create the quilt!
print(quilt_width * quilt_length)

'''
It turns out that quilt required a little more material than you have on hand! Let’s only make the quilt 8 squares long. How many squares will you need for this quilt instead?
'''
quilt_length = 8
print(quilt_width * quilt_length)

96
64

In [7]:
'''
You really like how the square quilts from last exercise came out, and decide that all quilts that you make will be square from now on.

Using the exponent operator, print out how many squares you’ll need for a 6x6 quilt, a 7x7 quilt, and an 8x8 quilt.
'''

# Calculation of squares for:
# 6x6 quilt
print(6**2)
# 7x7 quilt
print(7**2)
# 8x8 quilt
print(8**2)

'''
Your 6x6 quilts have become so popular that 6 people have each requested 6 quilts. Print out how many total tiles you would need to make 6 6x6 quilts for 6 people.
'''
# How many squares for 6 people to have 6 quilts each that are 6x6?
print(6*6*(6**2))

36
49
64
1296

In [8]:
'''
You are starting a new campaign for your online shop where every 11th customer gets 11% off of their next order. For ease, you decide that order numbers that are divisible by 11 will receive the coupon.

Here comes order #263! Find the remainder by calculating 263 modulo 11 and store the result in a variable called order_263_r.

Print out order_263_r.
'''

order_263_r = 263%11
print(order_263_r)

10

In [9]:
'''
Concatenate the strings and save the message they form in the variable message.

Now uncomment the print statement and run your code to see the result in the terminal!
'''
string1 = "The wind, "
string2 = "which had hitherto carried us along with amazing rapidity, "
string3 = "sank at sunset to a light breeze; "
string4 = "the soft air just ruffled the water and "
string5 = "caused a pleasant motion among the trees as we approached the shore, "
string6 = "from which it wafted the most delightful scent of flowers and hay."

# Define message below:
message = string1+string2+string3+string4+string5+string6

print(message)

The wind, which had hitherto carried us along with amazing rapidity, sank at sunset to a light breeze; the soft air just ruffled the water and caused a pleasant motion among the trees as we approached the shore, from which it wafted the most delightful scent of flowers and hay.

In [10]:
'''
We’re doing a little bit of online shopping and find a pair of new sneakers. Right before we check out, we spot a nice sweater and some fun books we also want to purchase!

Use the += operator to update the total_price to include the prices of nice_sweater and fun_books.
'''
total_price = 0

new_sneakers = 50.00

total_price += new_sneakers

nice_sweater = 39.00
fun_books = 20.00
# Update total_price here:
total_price += nice_sweater + fun_books
print("The total price is", total_price)

The total price is 109.0

In [1]:
# How to store user input
name = input("What is your name: ")
print(name)

What is your name: Agustin
Agustin

#### Control Flow

In [3]:
"""
Create a variable named my_baby_bool and set it equal to the string "true".
Check the type of my_baby_bool using type(my_baby_bool).
You’ll have to print it to get the results to display in the terminal.
"""
my_baby_bool  = "true"
print(type(my_baby_bool))

"""
Create a variable named my_baby_bool_two and set it equal to True.
You’ll have to print it to get the results to display in the terminal.
"""
my_baby_bool_two = True
print(type(my_baby_bool_two))

<class 'str'>
<class 'bool'>

In [7]:
x = 20
y = 20

# Write the first if statement here:
"""
Create an if statement that checks if x and y are equal, print the string below if so:
"""
if(x ==y):
  print("These numbers are the same")

"""
The nearby college, Calvin Coolidge’s Cool College (or 4C, as the locals call it) requires students to earn 120 credits to graduate.

Write an if statement that checks if the student has enough credits to graduate. If they do, print the string:
"""
credits = 120
gpa = 3.4

# Write the second if statement here:
if (credits >= 120):
  print("You have enough credits to graduate!")

"""
 120 credits aren’t the only graduation requirement, you also need to have a GPA of 2.0 or higher
"""
if credits >= 120 and gpa >= 2.0 :
  print("You meet the requirements to graduate!")

"""
Write an if statement that checks if a student either has 120 or more credits or a GPA 2.0 or higher, and if so prints:
"""
if (credits >= 120 or gpa >= 2.0):
  print("You have met at least one of the requirements.")

"""
If a student is failing to meet one or both graduation requirements, they want it to print:
"""
credits = 120
gpa = 1.9

if (credits >= 120) and (gpa >= 2.0):
  print("You meet the requirements to graduate!")
else:
  print("You do not meet the requirements to graduate.")

These numbers are the same
You have enough credits to graduate!
You meet the requirements to graduate!
You have met at least one of the requirements.
You do not meet the requirements to graduate.

In [8]:
"""
Calvin Coolidge’s Cool College has noticed that students prefer to get letter grades.

Write an if/elif/else statement that:

    If grade is 90 or higher, print "A"
    Else if grade is 80 or higher, print "B"
    Else if grade is 70 or higher, print "C"
    Else if grade is 60 or higher, print "D"
    Else, print "F"

"""
grade = 86

if grade >= 90:
  print("A")
elif grade >= 80:
  print("B")
elif grade >= 70:
  print("C")
elif grade >= 60:
  print("D")
else:
  print("F")

B

In [11]:
x =  3 ** 2 + 1 != 30 / 3
print(x)

False

#### Lists

In [13]:
"""
Create a new list called sam_height_and_testscore that contains:

    The string "Sam" (to represent Sam’s name)
    The number 67 (to represent Sam’s height)
    The float 85.5 (to represent Sam’s score)
    The boolean True (to represent Sam passing the test
"""
sam_height_and_testscore = ["Sam", 67, 85.5, True]
print(sam_height_and_testscore)

['Sam', 67, 85.5, True]

In [14]:
orders = ["daisies", "periwinkle"]
print(orders)

"""
Jiho just received a new order for "tulips". Use append to add this string to orders.
Another order has come in! Use append to add "roses" to orders.
"""
orders.append("tulips")
orders.append("roses")

print(orders)

['daisies', 'periwinkle']
['daisies', 'periwinkle', 'tulips', 'roses']

In [17]:
orders = ["daisy", "buttercup", "snapdragon", "gardenia", "lily"]
"""
Jiho is updating a list of orders. He just received orders for "lilac" and "iris".
Create a list called new_orders that contains our new orders.
"""
# Create new orders here:
new_orders = ["lilac", "iris"]

"""
Use + to create a new list called orders_combined that combines orders with new_orders.
"""
orders_combined = orders + new_orders

print(orders_combined)

['daisy', 'buttercup', 'snapdragon', 'gardenia', 'lily', 'lilac', 'iris']

In [19]:
employees = ["Michael", "Dwight", "Jim", "Pam", "Ryan", "Andy", "Robert"]

"""
Use square brackets ([ and ]) to access the 4th employee from the list employees. Save it to the variable employee_four
"""
employee_four = employees[3]
print(employee_four)

Pam

In [20]:
shopping_list = ["eggs", "butter", "milk", "cucumbers", "juice", "cereal"]
"""
Create a variable called last_element.

Assign the last element in shopping_list to the variable last_element using a negative index.
"""
last_element = shopping_list[-1]
print(last_element)

cereal

In [1]:
"""
Define a list called garden_waitlist and set the value to contain our customers (in order): "Jiho", "Adam", "Sonny", and "Alisha"
"""
# Your code below:
garden_waitlist = ["Jiho", "Adam", "Sonny", "Alisha"]
"""
Replace "Adam" with our other interested customer "Calla" using the index method we used in the narrative.
Print garden_waitlist to see the change! 
"""
garden_waitlist[1] = "Calla"
print(garden_waitlist)
"""
Replace Alisha with Alex using a negative index.
Print garden_waitlist again to see the change! 
"""
garden_waitlist[-1] = "Alex"
print(garden_waitlist)

['Jiho', 'Calla', 'Sonny', 'Alisha']
['Jiho', 'Calla', 'Sonny', 'Alex']

In [2]:
order_list = ["Celery", "Orange Juice", "Orange", "Flatbread"]
print(order_list)
"""
We are in luck! We actually found a spare case of "Flatbread" in our back storage. We won’t need to order it anymore. Let’s remove it from order_list using the .remove() method.
Print order_list to see the current list
"""
order_list.remove("Flatbread")
print(order_list)

new_store_order_list = ["Orange", "Apple", "Mango", "Broccoli", "Mango"]
print(new_store_order_list)

"""
We are in luck again! We actually found a spare case of "Mango" in our back storage.
We won’t be needing to place two orders anymore.
Let’s remove it from new_store_order_list using the .remove() method.
Print new_store_order_list to see the current list.
"""
new_store_order_list.remove("Mango")
print(new_store_order_list)

['Celery', 'Orange Juice', 'Orange', 'Flatbread']
['Celery', 'Orange Juice', 'Orange']
['Orange', 'Apple', 'Mango', 'Broccoli', 'Mango']
['Orange', 'Apple', 'Broccoli', 'Mango']

In [4]:
"""
We want to have a way to store all of our classroom test score data.
Using the provided table, create a two-dimensional list called class_name_test to represent the data. Each sublist in class_name_test should have one student’s name and their associated score.
Name 	Test Score
"Jenny" 	90
"Alexus" 	85.5
"Sam" 	83
"Ellie" 	101.5
Print class_name_test to see the result.
"""
class_name_test = ([["Jenny", 90], ["Alexus", 85.5], ["Sam", 83], ["Ellie", 101.5]])
print(class_name_test)
"""
Use double square brackets ([][]) to select Sam‘s test score from the list class_name_test.
Save it to the variable sams_score.
Print the variable sams_score to see the result.
"""
sams_score = class_name_test[2][1]
print(sams_score)
"""
Use double square brackets ([][]) to select Ellies test score from the list class_name_test. This time only use negative indices!
Save it to the variable ellies_score.
Print the variable ellies_score to see the result.
"""
ellies_score = class_name_test[-1][-1]
print(ellies_score)

[['Jenny', 90], ['Alexus', 85.5], ['Sam', 83], ['Ellie', 101.5]]
83
101.5

In [5]:
"""
Our school is expanding! We are welcoming a new set of students today from all over the world.

Using the provided table, create a two-dimensional list called incoming_class to represent the data. Each sublist in incoming_class should contain the name, nationality, and grade for a single student.
Name 	Nationality 	Grade Level
"Kenny" 	"American" 	9
"Tanya" 	"Ukrainian" 	9
"Madison" 	"Indian" 	7

Print incoming_class to see our list.
"""
incoming_class = ([["Kenny", "American", 9],["Tanya", "Ukrainian", 9], ["Madison", "Indian", 7]])
print(incoming_class)

"""
"Madison" passed an exam to advance a grade. She will be pushed into 8th grade rather than her current 7th in our list.

Modify the list using double brackets [][] to make the change. Use positive indices.

Print incoming_class to see our change.
"""
incoming_class[2][2]  = 8
print(incoming_class)
"""
"Kenny" likes to be called by his nickname "Ken". Modify the list using double brackets [][] to accommodate the change but only using negative indices.
Print incoming_class to see our change.
"""
incoming_class[-3][-3] = "Ken"
print(incoming_class)

[['Kenny', 'American', 9], ['Tanya', 'Ukrainian', 9], ['Madison', 'Indian', 7]]
[['Kenny', 'American', 9], ['Tanya', 'Ukrainian', 9], ['Madison', 'Indian', 8]]
[['Ken', 'American', 9], ['Tanya', 'Ukrainian', 9], ['Madison', 'Indian', 8]]

In [6]:
# Creating list of first names 
first_names = ["Ainsley", "Ben", "Chani", "Depak"]

# List of the preferred sizes 
preferred_size = ["Small", "Large", "Medium"]

# Using append to add to preferred_size list 
preferred_size.append("Medium")
print(preferred_size)


#Created 2D Array includes name, size and expedited shipping T or F
customer_data = ([["Ainsley", "Small", True],["Ben", "Large", False], ["Chani", "Medium", True], ["Depak", "Medium", False]])
print(customer_data)

#Changing Chani to False expedited shipping
customer_data[-2][-1] = False

#Ben wants his shipping option removed from the list
customer_data[1].remove(False)

#Creating final list and merging customer_data with two new sublists 
customer_data_final = customer_data + [["Amit", "Large", True], ["Karim", "X-Large", False]]
print(customer_data_final)

['Small', 'Large', 'Medium', 'Medium']
[['Ainsley', 'Small', True], ['Ben', 'Large', False], ['Chani', 'Medium', True], ['Depak', 'Medium', False]]
[['Ainsley', 'Small', True], ['Ben', 'Large'], ['Chani', 'Medium', False], ['Depak', 'Medium', False], ['Amit', 'Large', True], ['Karim', 'X-Large', False]]

In [7]:
last_semester_gradebook = [["politics", 80], ["latin", 96], ["dance", 97], ["architecture", 65]]

# Created two lists subjects and grades
subjects = ["physics", "calculus", "poetry", "history"]
grades = [98, 97, 85, 88]

#Manually (without functions) created a 2D list 
gradebook = [["physics", 98],["calculus", 97],["poetry", 85],["history", 88]]
print(gradebook)

#Adding computer science and visual arts grade 
gradebook.append(["computer science", 100])
gradebook.append(["visual science", 93])
print(gradebook)

#Adding 5 points to visual science grade 
gradebook[-1][-1] = gradebook[-1][-1] + 5
print(gradebook)

#Removing grade from Poetry
gradebook[2].remove(85)
#Adding Pass to poetry class 
gradebook[2].append("Pass")
print(gradebook)

#Combining last_semester_gradebook and gradebook
full_gradebook = last_semester_gradebook + gradebook
print(full_gradebook)

[['physics', 98], ['calculus', 97], ['poetry', 85], ['history', 88]]
[['physics', 98], ['calculus', 97], ['poetry', 85], ['history', 88], ['computer science', 100], ['visual science', 93]]
[['physics', 98], ['calculus', 97], ['poetry', 85], ['history', 88], ['computer science', 100], ['visual science', 98]]
[['physics', 98], ['calculus', 97], ['poetry', 'Pass'], ['history', 88], ['computer science', 100], ['visual science', 98]]
[['politics', 80], ['latin', 96], ['dance', 97], ['architecture', 65], ['physics', 98], ['calculus', 97], ['poetry', 'Pass'], ['history', 88], ['computer science', 100], ['visual science', 98]]

In [8]:
front_display_list = ["Mango", "Filet Mignon", "Chocolate Milk"]
print(front_display_list)

# Adding Pineapple to front of the list 
front_display_list.insert(0,"Pineapple")
print(front_display_list)

['Mango', 'Filet Mignon', 'Chocolate Milk']
['Pineapple', 'Mango', 'Filet Mignon', 'Chocolate Milk']

In [9]:
data_science_topics = ["Machine Learning", "SQL", "Pandas", "Algorithms", "Statistics", "Python 3"]
print(data_science_topics)

# Removing Python 3
data_science_topics.pop()
print(data_science_topics)

#Removing Algorithms
data_science_topics.pop(3)
print(data_science_topics)

['Machine Learning', 'SQL', 'Pandas', 'Algorithms', 'Statistics', 'Python 3']
['Machine Learning', 'SQL', 'Pandas', 'Algorithms', 'Statistics']
['Machine Learning', 'SQL', 'Pandas', 'Statistics']

In [10]:
#Creates range object from 0-8 the list() function makes it into a list 
number_list = range(9)
print(list(number_list))


zero_to_seven = range(8)
print(list(zero_to_seven))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7]

In [11]:
# Starts at 5 goes up by 3 up to 14
range_five_three = range(5, 15, 3)
print(list(range_five_three))
# Starts at 0 goes up by five and stops at 39 
range_diff_five = range(0,40,5)
print(list(range_diff_five))

[5, 8, 11, 14]
[0, 5, 10, 15, 20, 25, 30, 35]

In [12]:
long_list = [1, 5, 6, 7, -23, 69.5, True, "very", "long", "list", "that", "keeps", "going.", "Let's", "practice", "getting", "the", "length"]

big_range = range(2, 3000, 100)

# Find the length of long_list
long_list_len = len(long_list)
print(long_list_len)

# Find the length of big_range_length
big_range_length = len(big_range)
print(big_range_length)

18
30

In [13]:
suitcase = ["shirt", "shirt", "pants", "pants", "pajamas", "books"]

#Grabs the first two elements in suitcase
beginning = suitcase[0:2]
print(beginning)

#Grabs the middle elements in suitcase 
middle = suitcase[2:4]
print(middle)

['shirt', 'shirt']
['pants', 'pants']

In [14]:
suitcase = ["shirt", "shirt", "pants", "pants", "pajamas", "books"]

# Stores that last two elements in suitcase
last_two_elements = suitcase[-2:]
print(last_two_elements)

# Grabs all elements except for the last three
slice_off_last_three = suitcase[:-3]
print(slice_off_last_three)

['pajamas', 'books']
['shirt', 'shirt', 'pants']

In [15]:
votes = ["Jake", "Jake", "Laurie", "Laurie", "Laurie", "Jake", "Jake", "Jake", "Laurie", "Cassie", "Cassie", "Jake", "Jake", "Cassie", "Laurie", "Cassie", "Jake", "Jake", "Cassie", "Laurie"]

#Counts the number of times Jake appears in votes list  
jake_votes = votes.count("Jake")
print(jake_votes)

9

In [16]:
# Sorts the addresses
addresses = ["221 B Baker St.", "42 Wallaby Way", "12 Grimmauld Place", "742 Evergreen Terrace", "1600 Pennsylvania Ave", "10 Downing St."]
addresses.sort()
print(addresses)

# Sorts the list of Names
names = ["Ron", "Hermione", "Harry", "Albus", "Sirius"]
names.sort()


# Sorts cities z-a
cities = ["London", "Paris", "Rome", "Los Angeles", "New York"]
cities.sort(reverse = True)
print(cities)

['10 Downing St.', '12 Grimmauld Place', '1600 Pennsylvania Ave', '221 B Baker St.', '42 Wallaby Way', '742 Evergreen Terrace']
['Rome', 'Paris', 'New York', 'Los Angeles', 'London']

In [17]:
games = ["Portal", "Minecraft", "Pacman", "Tetris", "The Sims", "Pokemon"]

# Use sorted() to create a new list 
games_sorted = sorted(games)
print(games_sorted)
print(games)

['Minecraft', 'Pacman', 'Pokemon', 'Portal', 'Tetris', 'The Sims']
['Portal', 'Minecraft', 'Pacman', 'Tetris', 'The Sims', 'Pokemon']

In [18]:
inventory = ["twin bed", "twin bed", "headboard", "queen bed", "king bed", "dresser", "dresser", "table", "table", "nightstand", "nightstand", "king bed", "king bed", "twin bed", "twin bed", "sheets", "sheets", "pillow", "pillow"]

# Total Items in inventory
inventory_len = len(inventory)

# Select first element in inventory 
first = inventory[0]

# Select the last element
last = inventory[-1]

# Select items in index 2-5
inventory_2_6 = inventory[2:6]

# Select first 3 items
first_3 = inventory[:3]

# Count number of twin bed's
twin_beds = inventory.count("twin bed")

# Remove the 5th element 
removed_item = inventory.pop(4)

# Add item 
inventory.insert(10,"19th Century Bed Frame")

# Sort inventory
inventory.sort()

In [19]:
#Created list of toppings
toppings = ["pepperoni", "pineapple", "cheese", "sausage", "olives", "anchovies", "mushrooms"]
#Created list of prices
prices = [2,6,1,3,2,7,2]

#Count of 2 in prices
num_two_dollar_slices = prices.count(2)

#Length of toppings 
num_pizzas = len(toppings)

print("We sell " + str(num_pizzas) +  " different kinds of pizza!")

#Created a combined list
pizza_and_prices = [[2,"pepperoni"],[6,"pineapple"],[1,"cheese"],[3,"sausage"],[2,"olives"],[7,"anchovies"],[2,"mushrooms"]]
print(pizza_and_prices)

#Sorted the list by prices asc 
pizza_and_prices.sort()
print(pizza_and_prices)

#Cheapest Pizza
cheapest_pizza = pizza_and_prices[0]
print(cheapest_pizza)

#Most expensive pizza
priciest_pizza = pizza_and_prices[-1]
print(priciest_pizza)

#Remove the last element 
pizza_and_prices.pop()
print(pizza_and_prices)

#Add peppers pizza 
pizza_and_prices.append([2.5,"peppers"])
pizza_and_prices.sort()
print(pizza_and_prices)

We sell 7 different kinds of pizza!
[[2, 'pepperoni'], [6, 'pineapple'], [1, 'cheese'], [3, 'sausage'], [2, 'olives'], [7, 'anchovies'], [2, 'mushrooms']]
[[1, 'cheese'], [2, 'mushrooms'], [2, 'olives'], [2, 'pepperoni'], [3, 'sausage'], [6, 'pineapple'], [7, 'anchovies']]
[1, 'cheese']
[7, 'anchovies']
[[1, 'cheese'], [2, 'mushrooms'], [2, 'olives'], [2, 'pepperoni'], [3, 'sausage'], [6, 'pineapple']]
[[1, 'cheese'], [2, 'mushrooms'], [2, 'olives'], [2, 'pepperoni'], [2.5, 'peppers'], [3, 'sausage'], [6, 'pineapple']]

Tuples are immutable once they are created they cannot be changed

In [21]:
my_info = (27, 10, 15, "Blue")
print(my_info)

(27, 10, 15, 'Blue')

In [22]:
#Creating two individual lists
names = ["Jenny", "Alexus", "Sam", "Grace"]
heights = [61, 70, 67, 64]

#Using zip function to merge the lists
names_and_heights = zip(names, heights)

#Converted into a Tuple 
converted_list = list(names_and_heights)
print(converted_list)

[('Jenny', 61), ('Alexus', 70), ('Sam', 67), ('Grace', 64)]