# Python 3  Agustin Villa 4/8/2024
In this notebook you will find the examples used to learn Python (Codecademy: Learn Python 3)

#### Hello World

In [2]:
# This is a python comment, can be used to explain your code

In [3]:
# Print the distinguished greeting “Hello world!”
print("Hello world!")

Hello world!

In [4]:
# Print your name using the print() command.
print("Agustin Villa")

Agustin Villa

SyntaxError: means there is something wrong with the way your program is written — punctuation that does not belong, a command where it is not expected, or a missing parenthesis can all trigger a SyntaxError

NameError: occurs when the Python interpreter sees a word it does not recognize. Code that contains something that looks like a variable but was never defined will throw a NameError

ZeroDivisionError: Python will raise this error when attempting to divide by 0

In [5]:
#Print out the result of this equation: 25 * 68 + 13 / 28
print(25 * 68 + 13 / 28)

1700.4642857142858

In [6]:
'''
You’ve decided to get into quilting! To calculate the number of squares you’ll need for your first quilt let’s create two variables: quilt_width and quilt_length. Let’s make this first quilt 8 squares wide and 12 squares long.
'''
quilt_width = 8
quilt_length = 12

# Print out the number of squares you’ll need to create the quilt!
print(quilt_width * quilt_length)

'''
It turns out that quilt required a little more material than you have on hand! Let’s only make the quilt 8 squares long. How many squares will you need for this quilt instead?
'''
quilt_length = 8
print(quilt_width * quilt_length)

96
64

In [7]:
'''
You really like how the square quilts from last exercise came out, and decide that all quilts that you make will be square from now on.

Using the exponent operator, print out how many squares you’ll need for a 6x6 quilt, a 7x7 quilt, and an 8x8 quilt.
'''

# Calculation of squares for:
# 6x6 quilt
print(6**2)
# 7x7 quilt
print(7**2)
# 8x8 quilt
print(8**2)

'''
Your 6x6 quilts have become so popular that 6 people have each requested 6 quilts. Print out how many total tiles you would need to make 6 6x6 quilts for 6 people.
'''
# How many squares for 6 people to have 6 quilts each that are 6x6?
print(6*6*(6**2))

36
49
64
1296

In [8]:
'''
You are starting a new campaign for your online shop where every 11th customer gets 11% off of their next order. For ease, you decide that order numbers that are divisible by 11 will receive the coupon.

Here comes order #263! Find the remainder by calculating 263 modulo 11 and store the result in a variable called order_263_r.

Print out order_263_r.
'''

order_263_r = 263%11
print(order_263_r)

10

In [9]:
'''
Concatenate the strings and save the message they form in the variable message.

Now uncomment the print statement and run your code to see the result in the terminal!
'''
string1 = "The wind, "
string2 = "which had hitherto carried us along with amazing rapidity, "
string3 = "sank at sunset to a light breeze; "
string4 = "the soft air just ruffled the water and "
string5 = "caused a pleasant motion among the trees as we approached the shore, "
string6 = "from which it wafted the most delightful scent of flowers and hay."

# Define message below:
message = string1+string2+string3+string4+string5+string6

print(message)

The wind, which had hitherto carried us along with amazing rapidity, sank at sunset to a light breeze; the soft air just ruffled the water and caused a pleasant motion among the trees as we approached the shore, from which it wafted the most delightful scent of flowers and hay.

In [10]:
'''
We’re doing a little bit of online shopping and find a pair of new sneakers. Right before we check out, we spot a nice sweater and some fun books we also want to purchase!

Use the += operator to update the total_price to include the prices of nice_sweater and fun_books.
'''
total_price = 0

new_sneakers = 50.00

total_price += new_sneakers

nice_sweater = 39.00
fun_books = 20.00
# Update total_price here:
total_price += nice_sweater + fun_books
print("The total price is", total_price)

The total price is 109.0

In [1]:
# How to store user input
name = input("What is your name: ")
print(name)

What is your name: Agustin
Agustin

#### Control Flow

In [3]:
"""
Create a variable named my_baby_bool and set it equal to the string "true".
Check the type of my_baby_bool using type(my_baby_bool).
You’ll have to print it to get the results to display in the terminal.
"""
my_baby_bool  = "true"
print(type(my_baby_bool))

"""
Create a variable named my_baby_bool_two and set it equal to True.
You’ll have to print it to get the results to display in the terminal.
"""
my_baby_bool_two = True
print(type(my_baby_bool_two))

<class 'str'>
<class 'bool'>

In [7]:
x = 20
y = 20

# Write the first if statement here:
"""
Create an if statement that checks if x and y are equal, print the string below if so:
"""
if(x ==y):
  print("These numbers are the same")

"""
The nearby college, Calvin Coolidge’s Cool College (or 4C, as the locals call it) requires students to earn 120 credits to graduate.

Write an if statement that checks if the student has enough credits to graduate. If they do, print the string:
"""
credits = 120
gpa = 3.4

# Write the second if statement here:
if (credits >= 120):
  print("You have enough credits to graduate!")

"""
 120 credits aren’t the only graduation requirement, you also need to have a GPA of 2.0 or higher
"""
if credits >= 120 and gpa >= 2.0 :
  print("You meet the requirements to graduate!")

"""
Write an if statement that checks if a student either has 120 or more credits or a GPA 2.0 or higher, and if so prints:
"""
if (credits >= 120 or gpa >= 2.0):
  print("You have met at least one of the requirements.")

"""
If a student is failing to meet one or both graduation requirements, they want it to print:
"""
credits = 120
gpa = 1.9

if (credits >= 120) and (gpa >= 2.0):
  print("You meet the requirements to graduate!")
else:
  print("You do not meet the requirements to graduate.")

These numbers are the same
You have enough credits to graduate!
You meet the requirements to graduate!
You have met at least one of the requirements.
You do not meet the requirements to graduate.

In [8]:
"""
Calvin Coolidge’s Cool College has noticed that students prefer to get letter grades.

Write an if/elif/else statement that:

    If grade is 90 or higher, print "A"
    Else if grade is 80 or higher, print "B"
    Else if grade is 70 or higher, print "C"
    Else if grade is 60 or higher, print "D"
    Else, print "F"

"""
grade = 86

if grade >= 90:
  print("A")
elif grade >= 80:
  print("B")
elif grade >= 70:
  print("C")
elif grade >= 60:
  print("D")
else:
  print("F")

B

In [11]:
x =  3 ** 2 + 1 != 30 / 3
print(x)

False

#### Lists

In [13]:
"""
Create a new list called sam_height_and_testscore that contains:

    The string "Sam" (to represent Sam’s name)
    The number 67 (to represent Sam’s height)
    The float 85.5 (to represent Sam’s score)
    The boolean True (to represent Sam passing the test
"""
sam_height_and_testscore = ["Sam", 67, 85.5, True]
print(sam_height_and_testscore)

['Sam', 67, 85.5, True]

In [14]:
orders = ["daisies", "periwinkle"]
print(orders)

"""
Jiho just received a new order for "tulips". Use append to add this string to orders.
Another order has come in! Use append to add "roses" to orders.
"""
orders.append("tulips")
orders.append("roses")

print(orders)

['daisies', 'periwinkle']
['daisies', 'periwinkle', 'tulips', 'roses']

In [17]:
orders = ["daisy", "buttercup", "snapdragon", "gardenia", "lily"]
"""
Jiho is updating a list of orders. He just received orders for "lilac" and "iris".
Create a list called new_orders that contains our new orders.
"""
# Create new orders here:
new_orders = ["lilac", "iris"]

"""
Use + to create a new list called orders_combined that combines orders with new_orders.
"""
orders_combined = orders + new_orders

print(orders_combined)

['daisy', 'buttercup', 'snapdragon', 'gardenia', 'lily', 'lilac', 'iris']

In [19]:
employees = ["Michael", "Dwight", "Jim", "Pam", "Ryan", "Andy", "Robert"]

"""
Use square brackets ([ and ]) to access the 4th employee from the list employees. Save it to the variable employee_four
"""
employee_four = employees[3]
print(employee_four)

Pam

In [20]:
shopping_list = ["eggs", "butter", "milk", "cucumbers", "juice", "cereal"]
"""
Create a variable called last_element.

Assign the last element in shopping_list to the variable last_element using a negative index.
"""
last_element = shopping_list[-1]
print(last_element)

cereal

In [1]:
"""
Define a list called garden_waitlist and set the value to contain our customers (in order): "Jiho", "Adam", "Sonny", and "Alisha"
"""
# Your code below:
garden_waitlist = ["Jiho", "Adam", "Sonny", "Alisha"]
"""
Replace "Adam" with our other interested customer "Calla" using the index method we used in the narrative.
Print garden_waitlist to see the change! 
"""
garden_waitlist[1] = "Calla"
print(garden_waitlist)
"""
Replace Alisha with Alex using a negative index.
Print garden_waitlist again to see the change! 
"""
garden_waitlist[-1] = "Alex"
print(garden_waitlist)

['Jiho', 'Calla', 'Sonny', 'Alisha']
['Jiho', 'Calla', 'Sonny', 'Alex']

In [2]:
order_list = ["Celery", "Orange Juice", "Orange", "Flatbread"]
print(order_list)
"""
We are in luck! We actually found a spare case of "Flatbread" in our back storage. We won’t need to order it anymore. Let’s remove it from order_list using the .remove() method.
Print order_list to see the current list
"""
order_list.remove("Flatbread")
print(order_list)

new_store_order_list = ["Orange", "Apple", "Mango", "Broccoli", "Mango"]
print(new_store_order_list)

"""
We are in luck again! We actually found a spare case of "Mango" in our back storage.
We won’t be needing to place two orders anymore.
Let’s remove it from new_store_order_list using the .remove() method.
Print new_store_order_list to see the current list.
"""
new_store_order_list.remove("Mango")
print(new_store_order_list)

['Celery', 'Orange Juice', 'Orange', 'Flatbread']
['Celery', 'Orange Juice', 'Orange']
['Orange', 'Apple', 'Mango', 'Broccoli', 'Mango']
['Orange', 'Apple', 'Broccoli', 'Mango']

In [4]:
"""
We want to have a way to store all of our classroom test score data.
Using the provided table, create a two-dimensional list called class_name_test to represent the data. Each sublist in class_name_test should have one student’s name and their associated score.
Name 	Test Score
"Jenny" 	90
"Alexus" 	85.5
"Sam" 	83
"Ellie" 	101.5
Print class_name_test to see the result.
"""
class_name_test = ([["Jenny", 90], ["Alexus", 85.5], ["Sam", 83], ["Ellie", 101.5]])
print(class_name_test)
"""
Use double square brackets ([][]) to select Sam‘s test score from the list class_name_test.
Save it to the variable sams_score.
Print the variable sams_score to see the result.
"""
sams_score = class_name_test[2][1]
print(sams_score)
"""
Use double square brackets ([][]) to select Ellies test score from the list class_name_test. This time only use negative indices!
Save it to the variable ellies_score.
Print the variable ellies_score to see the result.
"""
ellies_score = class_name_test[-1][-1]
print(ellies_score)

[['Jenny', 90], ['Alexus', 85.5], ['Sam', 83], ['Ellie', 101.5]]
83
101.5

In [5]:
"""
Our school is expanding! We are welcoming a new set of students today from all over the world.

Using the provided table, create a two-dimensional list called incoming_class to represent the data. Each sublist in incoming_class should contain the name, nationality, and grade for a single student.
Name 	Nationality 	Grade Level
"Kenny" 	"American" 	9
"Tanya" 	"Ukrainian" 	9
"Madison" 	"Indian" 	7

Print incoming_class to see our list.
"""
incoming_class = ([["Kenny", "American", 9],["Tanya", "Ukrainian", 9], ["Madison", "Indian", 7]])
print(incoming_class)

"""
"Madison" passed an exam to advance a grade. She will be pushed into 8th grade rather than her current 7th in our list.

Modify the list using double brackets [][] to make the change. Use positive indices.

Print incoming_class to see our change.
"""
incoming_class[2][2]  = 8
print(incoming_class)
"""
"Kenny" likes to be called by his nickname "Ken". Modify the list using double brackets [][] to accommodate the change but only using negative indices.
Print incoming_class to see our change.
"""
incoming_class[-3][-3] = "Ken"
print(incoming_class)

[['Kenny', 'American', 9], ['Tanya', 'Ukrainian', 9], ['Madison', 'Indian', 7]]
[['Kenny', 'American', 9], ['Tanya', 'Ukrainian', 9], ['Madison', 'Indian', 8]]
[['Ken', 'American', 9], ['Tanya', 'Ukrainian', 9], ['Madison', 'Indian', 8]]

In [6]:
# Creating list of first names 
first_names = ["Ainsley", "Ben", "Chani", "Depak"]

# List of the preferred sizes 
preferred_size = ["Small", "Large", "Medium"]

# Using append to add to preferred_size list 
preferred_size.append("Medium")
print(preferred_size)


#Created 2D Array includes name, size and expedited shipping T or F
customer_data = ([["Ainsley", "Small", True],["Ben", "Large", False], ["Chani", "Medium", True], ["Depak", "Medium", False]])
print(customer_data)

#Changing Chani to False expedited shipping
customer_data[-2][-1] = False

#Ben wants his shipping option removed from the list
customer_data[1].remove(False)

#Creating final list and merging customer_data with two new sublists 
customer_data_final = customer_data + [["Amit", "Large", True], ["Karim", "X-Large", False]]
print(customer_data_final)

['Small', 'Large', 'Medium', 'Medium']
[['Ainsley', 'Small', True], ['Ben', 'Large', False], ['Chani', 'Medium', True], ['Depak', 'Medium', False]]
[['Ainsley', 'Small', True], ['Ben', 'Large'], ['Chani', 'Medium', False], ['Depak', 'Medium', False], ['Amit', 'Large', True], ['Karim', 'X-Large', False]]

In [7]:
last_semester_gradebook = [["politics", 80], ["latin", 96], ["dance", 97], ["architecture", 65]]

# Created two lists subjects and grades
subjects = ["physics", "calculus", "poetry", "history"]
grades = [98, 97, 85, 88]

#Manually (without functions) created a 2D list 
gradebook = [["physics", 98],["calculus", 97],["poetry", 85],["history", 88]]
print(gradebook)

#Adding computer science and visual arts grade 
gradebook.append(["computer science", 100])
gradebook.append(["visual science", 93])
print(gradebook)

#Adding 5 points to visual science grade 
gradebook[-1][-1] = gradebook[-1][-1] + 5
print(gradebook)

#Removing grade from Poetry
gradebook[2].remove(85)
#Adding Pass to poetry class 
gradebook[2].append("Pass")
print(gradebook)

#Combining last_semester_gradebook and gradebook
full_gradebook = last_semester_gradebook + gradebook
print(full_gradebook)

[['physics', 98], ['calculus', 97], ['poetry', 85], ['history', 88]]
[['physics', 98], ['calculus', 97], ['poetry', 85], ['history', 88], ['computer science', 100], ['visual science', 93]]
[['physics', 98], ['calculus', 97], ['poetry', 85], ['history', 88], ['computer science', 100], ['visual science', 98]]
[['physics', 98], ['calculus', 97], ['poetry', 'Pass'], ['history', 88], ['computer science', 100], ['visual science', 98]]
[['politics', 80], ['latin', 96], ['dance', 97], ['architecture', 65], ['physics', 98], ['calculus', 97], ['poetry', 'Pass'], ['history', 88], ['computer science', 100], ['visual science', 98]]

In [8]:
front_display_list = ["Mango", "Filet Mignon", "Chocolate Milk"]
print(front_display_list)

# Adding Pineapple to front of the list 
front_display_list.insert(0,"Pineapple")
print(front_display_list)

['Mango', 'Filet Mignon', 'Chocolate Milk']
['Pineapple', 'Mango', 'Filet Mignon', 'Chocolate Milk']

In [9]:
data_science_topics = ["Machine Learning", "SQL", "Pandas", "Algorithms", "Statistics", "Python 3"]
print(data_science_topics)

# Removing Python 3
data_science_topics.pop()
print(data_science_topics)

#Removing Algorithms
data_science_topics.pop(3)
print(data_science_topics)

['Machine Learning', 'SQL', 'Pandas', 'Algorithms', 'Statistics', 'Python 3']
['Machine Learning', 'SQL', 'Pandas', 'Algorithms', 'Statistics']
['Machine Learning', 'SQL', 'Pandas', 'Statistics']

In [10]:
#Creates range object from 0-8 the list() function makes it into a list 
number_list = range(9)
print(list(number_list))


zero_to_seven = range(8)
print(list(zero_to_seven))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7]

In [11]:
# Starts at 5 goes up by 3 up to 14
range_five_three = range(5, 15, 3)
print(list(range_five_three))
# Starts at 0 goes up by five and stops at 39 
range_diff_five = range(0,40,5)
print(list(range_diff_five))

[5, 8, 11, 14]
[0, 5, 10, 15, 20, 25, 30, 35]

In [12]:
long_list = [1, 5, 6, 7, -23, 69.5, True, "very", "long", "list", "that", "keeps", "going.", "Let's", "practice", "getting", "the", "length"]

big_range = range(2, 3000, 100)

# Find the length of long_list
long_list_len = len(long_list)
print(long_list_len)

# Find the length of big_range_length
big_range_length = len(big_range)
print(big_range_length)

18
30

In [13]:
suitcase = ["shirt", "shirt", "pants", "pants", "pajamas", "books"]

#Grabs the first two elements in suitcase
beginning = suitcase[0:2]
print(beginning)

#Grabs the middle elements in suitcase 
middle = suitcase[2:4]
print(middle)

['shirt', 'shirt']
['pants', 'pants']

In [14]:
suitcase = ["shirt", "shirt", "pants", "pants", "pajamas", "books"]

# Stores that last two elements in suitcase
last_two_elements = suitcase[-2:]
print(last_two_elements)

# Grabs all elements except for the last three
slice_off_last_three = suitcase[:-3]
print(slice_off_last_three)

['pajamas', 'books']
['shirt', 'shirt', 'pants']

In [15]:
votes = ["Jake", "Jake", "Laurie", "Laurie", "Laurie", "Jake", "Jake", "Jake", "Laurie", "Cassie", "Cassie", "Jake", "Jake", "Cassie", "Laurie", "Cassie", "Jake", "Jake", "Cassie", "Laurie"]

#Counts the number of times Jake appears in votes list  
jake_votes = votes.count("Jake")
print(jake_votes)

9

In [16]:
# Sorts the addresses
addresses = ["221 B Baker St.", "42 Wallaby Way", "12 Grimmauld Place", "742 Evergreen Terrace", "1600 Pennsylvania Ave", "10 Downing St."]
addresses.sort()
print(addresses)

# Sorts the list of Names
names = ["Ron", "Hermione", "Harry", "Albus", "Sirius"]
names.sort()


# Sorts cities z-a
cities = ["London", "Paris", "Rome", "Los Angeles", "New York"]
cities.sort(reverse = True)
print(cities)

['10 Downing St.', '12 Grimmauld Place', '1600 Pennsylvania Ave', '221 B Baker St.', '42 Wallaby Way', '742 Evergreen Terrace']
['Rome', 'Paris', 'New York', 'Los Angeles', 'London']

In [17]:
games = ["Portal", "Minecraft", "Pacman", "Tetris", "The Sims", "Pokemon"]

# Use sorted() to create a new list 
games_sorted = sorted(games)
print(games_sorted)
print(games)

['Minecraft', 'Pacman', 'Pokemon', 'Portal', 'Tetris', 'The Sims']
['Portal', 'Minecraft', 'Pacman', 'Tetris', 'The Sims', 'Pokemon']

In [18]:
inventory = ["twin bed", "twin bed", "headboard", "queen bed", "king bed", "dresser", "dresser", "table", "table", "nightstand", "nightstand", "king bed", "king bed", "twin bed", "twin bed", "sheets", "sheets", "pillow", "pillow"]

# Total Items in inventory
inventory_len = len(inventory)

# Select first element in inventory 
first = inventory[0]

# Select the last element
last = inventory[-1]

# Select items in index 2-5
inventory_2_6 = inventory[2:6]

# Select first 3 items
first_3 = inventory[:3]

# Count number of twin bed's
twin_beds = inventory.count("twin bed")

# Remove the 5th element 
removed_item = inventory.pop(4)

# Add item 
inventory.insert(10,"19th Century Bed Frame")

# Sort inventory
inventory.sort()

In [19]:
#Created list of toppings
toppings = ["pepperoni", "pineapple", "cheese", "sausage", "olives", "anchovies", "mushrooms"]
#Created list of prices
prices = [2,6,1,3,2,7,2]

#Count of 2 in prices
num_two_dollar_slices = prices.count(2)

#Length of toppings 
num_pizzas = len(toppings)

print("We sell " + str(num_pizzas) +  " different kinds of pizza!")

#Created a combined list
pizza_and_prices = [[2,"pepperoni"],[6,"pineapple"],[1,"cheese"],[3,"sausage"],[2,"olives"],[7,"anchovies"],[2,"mushrooms"]]
print(pizza_and_prices)

#Sorted the list by prices asc 
pizza_and_prices.sort()
print(pizza_and_prices)

#Cheapest Pizza
cheapest_pizza = pizza_and_prices[0]
print(cheapest_pizza)

#Most expensive pizza
priciest_pizza = pizza_and_prices[-1]
print(priciest_pizza)

#Remove the last element 
pizza_and_prices.pop()
print(pizza_and_prices)

#Add peppers pizza 
pizza_and_prices.append([2.5,"peppers"])
pizza_and_prices.sort()
print(pizza_and_prices)

We sell 7 different kinds of pizza!
[[2, 'pepperoni'], [6, 'pineapple'], [1, 'cheese'], [3, 'sausage'], [2, 'olives'], [7, 'anchovies'], [2, 'mushrooms']]
[[1, 'cheese'], [2, 'mushrooms'], [2, 'olives'], [2, 'pepperoni'], [3, 'sausage'], [6, 'pineapple'], [7, 'anchovies']]
[1, 'cheese']
[7, 'anchovies']
[[1, 'cheese'], [2, 'mushrooms'], [2, 'olives'], [2, 'pepperoni'], [3, 'sausage'], [6, 'pineapple']]
[[1, 'cheese'], [2, 'mushrooms'], [2, 'olives'], [2, 'pepperoni'], [2.5, 'peppers'], [3, 'sausage'], [6, 'pineapple']]

Tuples are immutable once they are created they cannot be changed

In [21]:
my_info = (27, 10, 15, "Blue")
print(my_info)

(27, 10, 15, 'Blue')

In [22]:
#Creating two individual lists
names = ["Jenny", "Alexus", "Sam", "Grace"]
heights = [61, 70, 67, 64]

#Using zip function to merge the lists
names_and_heights = zip(names, heights)

#Converted into a Tuple 
converted_list = list(names_and_heights)
print(converted_list)

[('Jenny', 61), ('Alexus', 70), ('Sam', 67), ('Grace', 64)]

#### Loops

In [ ]:
sport_games = ["football", "hockey", "baseball", "cricket"]

#For loop goes through all elements in sport_games and prints them out 
for sport in sport_games:
  print(sport)

In [23]:
promise = "I will finish the python loops module!"

#Print the string promise 5 times
for temp in range(5):
  print(promise)

I will finish the python loops module!
I will finish the python loops module!
I will finish the python loops module!
I will finish the python loops module!
I will finish the python loops module!

In [24]:
#Counts down from 10 until liftoff 
countdown = 10

while countdown >= 0:
  print(countdown)
  countdown -= 1
print("We have liftoff!")

10
9
8
7
6
5
4
3
2
1
0
We have liftoff!

In [25]:
python_topics = ["variables", "control flow", "loops", "modules", "classes"]

#Using while loop to interate through a list 
length = len(python_topics)
index = 0

while index < length:
  print("I am learning about " + python_topics[index])
  index += 1

I am learning about variables
I am learning about control flow
I am learning about loops
I am learning about modules
I am learning about classes

In [26]:
#For loop goes through the list until it finds the wanted dog breed using break to stop 
dog_breeds_available_for_adoption = ["french_bulldog", "dalmatian", "shihtzu", "poodle", "collie"]
dog_breed_I_want = "dalmatian"


for dog_breed in dog_breeds_available_for_adoption:
  print(dog_breed)
  if dog_breed == dog_breed_I_want:
    print("They have the dog I want!")
    break

french_bulldog
dalmatian
They have the dog I want!

In [28]:
#For loop goes through ages and prints the age if its greater than 21
ages = [12, 38, 34, 26, 21, 19, 67, 41, 17]

for age in ages:
  if age < 21:
    continue
  print(age)

38
34
26
21
67
41

In [27]:
#For loop iterates through the sales data list and through the sublists 
sales_data = [[12, 17, 22], [2, 10, 3], [5, 12, 13]]

scoops_sold = 0

for location in sales_data:
  print(location)
  for sales in location:
    scoops_sold += sales
    
print(scoops_sold)

[12, 17, 22]
[2, 10, 3]
[5, 12, 13]
96

In [29]:
#Using list comprehension to iterate through a list
grades = [90, 88, 62, 76, 74, 89, 48, 57]

scaled_grades = [num + 10 for num in grades]
print(scaled_grades)

[100, 98, 72, 86, 84, 99, 58, 67]

In [30]:
heights = [161, 164, 156, 144, 158, 170, 163, 163, 157]

# List comprehension that adds any heights > 161
can_ride_coaster = [num for num in heights if num > 161]
print(can_ride_coaster)

[164, 170, 163, 163]

In [31]:
#Creating list 0-9
single_digits = range(10)
squares = []
cubes = [num ** 3 for num in single_digits]

#Using for loop to iterate through and print the numbers in list
for num in single_digits:
  squares.append(num ** 2)
  print(num)

print(squares)

print(cubes)

0
1
2
3
4
5
6
7
8
9
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [32]:
hairstyles = ["bouffant", "pixie", "dreadlocks", "crew", "bowl", "bob", "mohawk", "flattop"]

prices = [30, 25, 40, 20, 20, 35, 50, 35]

last_week = [2, 3, 5, 8, 4, 4, 6, 2]

#Iterate through prices to get the sum
total_price = 0
for price in prices:
  total_price += price

#Calculate the average using len
average_price = total_price / len(prices)
print("Average Haircut Price: " + str(average_price))

#Cut prices by $5 usling list comprehension
new_prices = [num - 5 for num in prices]
print(new_prices)

#Calculate the toal revenue 
total_revenue = 0
for i in range(0,len(hairstyles)):
  total_revenue = (prices[i] * last_week[i]) + total_revenue

print("Total Revenue: " + str(total_revenue))

#Calculate the average daily revenue
average_daily_revenue = total_revenue / 7

#Created a list with cuts under $30
cuts_under_30 = [hairstyles[i] for i in range(0,len(new_prices)-1) if new_prices[i] < 30]
print(cuts_under_30)

Average Haircut Price: 31.875
[25, 20, 35, 15, 15, 30, 45, 30]
Total Revenue: 1085
['bouffant', 'pixie', 'crew', 'bowl']

#### Functions

In [33]:
def directions_to_timesSq():
  print("Walk 4 mins to 34th St Herald Square train station.")
  print("Take the Northbound N, Q, R, or W train 1 stop.")
  print("Get off the Times Square 42nd Street stop.")

# Call your function here:
directions_to_timesSq()

Walk 4 mins to 34th St Herald Square train station.
Take the Northbound N, Q, R, or W train 1 stop.
Get off the Times Square 42nd Street stop.

In [34]:
#Creating a function with multiple arguments 
def calculate_expenses(plane_ticket_price, car_rental_rate, hotel_rate, trip_time):
  car_rental_total = car_rental_rate * trip_time
  hotel_total = hotel_rate * trip_time - 10
  trip_total = car_rental_total + hotel_total + plane_ticket_price

  return trip_total

# Step 5: call your function
calculate_expenses(200,100,100,5)

1190

In [35]:
# Function that has a default parameter 
def trip_planner(first_destination,second_destination, final_destination = "Codecademy HQ"):
  print("Here is what your trip will look like!")
  print("First, we will stop in " + first_destination + ", then " + second_destination + ", and lastly " + final_destination)

#Calling function using positional, keyword and default arguments 
trip_planner("France", "Germany", "Denmark")
trip_planner("Denmark", "France", "Germany")
trip_planner(first_destination = "Iceland", final_destination = "Germany", second_destination = "India")
trip_planner("Brooklyn", "Queens")

Here is what your trip will look like!
First, we will stop in France, then Germany, and lastly Denmark
Here is what your trip will look like!
First, we will stop in Denmark, then France, and lastly Germany
Here is what your trip will look like!
First, we will stop in Iceland, then India, and lastly Germany
Here is what your trip will look like!
First, we will stop in Brooklyn, then Queens, and lastly Codecademy HQ

In [36]:
tshirt_price = 9.75
shorts_price = 15.50
mug_price = 5.99
poster_price = 2.00

#Using built in functions 
max_price = max(tshirt_price, shorts_price,mug_price,poster_price)
print(max_price)

min_price = min(tshirt_price, shorts_price,mug_price,poster_price)
print(min_price)

rounded_price = round(tshirt_price,1)
print(rounded_price)

15.5
2.0
9.8

In [37]:
current_budget = 3500.75
shirt_expense = 9

def print_remaining_budget(budget):
  print("Your remaining budget is: $" + str(budget))

print_remaining_budget(current_budget)

# Write your code below: 
def deduct_expense(budget, expense):
  return budget - expense

new_budget_after_shirt = deduct_expense(current_budget,shirt_expense)

print_remaining_budget(new_budget_after_shirt)

Your remaining budget is: $3500.75
Your remaining budget is: $3491.75

In [40]:
def top_tourist_locations_italy():
  first = "Rome"
  second = "Venice"
  third = "Florence"
  return first, second, third

#Storing multiple return values
most_popular1, most_popular2, most_popular3  = top_tourist_locations_italy()
print(most_popular1)
print(most_popular2)
print(most_popular3)

Rome
Venice
Florence

In [41]:
def trip_planner_welcome(name):
  print("Welcome to tripplanner v1.0 " + name)

def estimated_time_rounded(estimated_time):
  rounded_time = round(estimated_time)
  return rounded_time

def destination_setup(origin, destination, estimated_time, mode_of_transport = "Car"):
  print("Your trip starts off in " + origin)
  print("And you are traveling to " + destination)
  print("You will be traveling by " + mode_of_transport)
  print("It will take approximately " + str(estimated_time) + " hours")

trip_planner_welcome("Agustin")
estimate = estimated_time_rounded(5.5)
destination_setup("Chicago", "Barcelona", estimate, "Plane")

Welcome to tripplanner v1.0 Agustin
Your trip starts off in Chicago
And you are traveling to Barcelona
You will be traveling by Plane
It will take approximately 6 hours

In [42]:
# Uncomment this when you reach the "Use the Force" section
train_mass = 22680
train_acceleration = 10
train_distance = 100
bomb_mass = 1


# Converts F to C 
def f_to_c(f_temp):
  c_temp = (f_temp-32) * 5/9
  return c_temp

f100_in_celsius = f_to_c(100)
print(f100_in_celsius)

# Converts C to F 
def c_to_f(c_temp):
  f_temp = (c_temp * 9/5 + 32)
  return f_temp

c0_in_fahrenheit = c_to_f(0)
print(c0_in_fahrenheit)


# Calculates force of a train
def get_force(mass, acceleration):
  return mass * acceleration

train_force = get_force(train_mass, train_acceleration) 
print("The GE train supplies " +str(train_force)+ " Newtons of force ")


def get_energy(mass, c = 3*10**8):
  return ((mass * c) **2)
  
bomb_energy = get_energy(bomb_mass)
print("A 1Kg bomb supplies " + str(bomb_energy) + " Joules")

def get_work(mass, acceleration, distance):
  return (get_force(mass, acceleration) * distance)

train_work = get_work(train_mass, train_acceleration, train_distance)
print("The GE train does " + str(train_work) + " Joules of work over " + str(train_distance) + " meters.")

37.77777777777778
32.0
The GE train supplies 226800 Newtons of force
A 1Kg bomb supplies 90000000000000000 Joules
The GE train does 22680000 Joules of work over 100 meters.

#### Strings

In [43]:
#Saving firt letter of a string
my_name = "Agustin"
first_initial = my_name[0]

print(first_initial)

A

In [44]:
#Slicing Strings
first_name = "Rodrigo"
last_name = "Villanueva"

new_account = last_name[0:5]
temp_password = last_name[2:6]

print(new_account)
print(temp_password)

Villa
llan

In [45]:
#Slicing and concatenating  strings
first_name = "Julie"
last_name = "Blevins"

def account_generator(first_name, last_name):
  return first_name[0:3] + last_name[0:3]

new_account = account_generator(first_name,last_name)
print(new_account)

JulBle

In [46]:
#Slicing and concatenating  strings
first_name = "Reiko"
last_name = "Matsuki"

def password_generator(first_name, last_name):
  return first_name[len(first_name)-3:] + last_name[len(last_name)-3:]

temp_password = password_generator(first_name, last_name)
print(temp_password)

ikouki

In [47]:
#Using negative indexes
company_motto = "Copeland's Corporate Company helps you capably cope with the constant cacophony of daily life"

second_to_last = company_motto[-2]
final_word = company_motto[-4:]

In [48]:
#String are immutable and cannot be changed once created
first_name = "Bob"
last_name = "Daily"

fixed_first_name = "R" + first_name[1:]
print(fixed_first_name)

Rob

In [49]:
#Iterating through a string and calculating length without len()
def get_length(example):
  count = 0
  for word in example:
    count += 1
  return count

print(get_length("Hello"))

5

In [50]:
#Checks to see if letter in word 
def letter_check(word, letter):
  if letter in word:
    return True
  else:
    return False

print(letter_check("Hello", "H"))

True

In [51]:
#Finds if little string is in big string 
def contains(big_string, little_string):
  return little_string in big_string

#Function is given two string finds the unique characters that are shared 
def common_letters(string_one, string_two):
  example = []
  for element in string_one:
    if element in string_two and element not in example:
      example.append(element)
  return example


print(contains("Chicago","go"))
print(common_letters("Chicago", "Cleveland"))

True
['C', 'a']

In [52]:
#Function that creates username using FN and LN 
def username_generator(first_name, last_name):
  username = first_name[:3] + last_name[:4]
  return username


#Takes a username and creates a password my shifting characters to the right 
def password_generator(user_name):
  password = ""
  for x in range(-1,len(user_name)-1):
    password = password + user_name[x]
  return password


print(username_generator("Agustin", "Villa"))
print(password_generator("Agustin"))

AguVill
nAgusti

In [53]:
poem_title = "spring storm"
poem_author = "William Carlos Williams"

#Uses title() to correct existing string 
poem_title_fixed = poem_title.title()
print(poem_title)
print(poem_title_fixed)

#Creates a new string using upper 
poem_author_fixed = poem_author.upper()
print(poem_author)
print(poem_author_fixed)

spring storm
Spring Storm
William Carlos Williams
WILLIAM CARLOS WILLIAMS

In [54]:
#split() returns substrings found between the argument 
line_one = "The sky has given over"

line_one_words = line_one.split()
print(line_one_words)

['The', 'sky', 'has', 'given', 'over']

In [55]:
authors = "Audre Lorde,Gabriela Mistral,Jean Toomer,An Qi,Walt Whitman,Shel Silverstein,Carmen Boullosa,Kamala Suraiyya,Langston Hughes,Adrienne Rich,Nikki Giovanni"

#Splits authors by ,
author_names = authors.split(",")
print(author_names)


#Grabs only the last names 
author_last_names = []
temp = []
for x in author_names:
  temp.append(x.split())
for x in temp:
  author_last_names.append(x[-1])

print(author_last_names)

['Audre Lorde', 'Gabriela Mistral', 'Jean Toomer', 'An Qi', 'Walt Whitman', 'Shel Silverstein', 'Carmen Boullosa', 'Kamala Suraiyya', 'Langston Hughes', 'Adrienne Rich', 'Nikki Giovanni']
['Lorde', 'Mistral', 'Toomer', 'Qi', 'Whitman', 'Silverstein', 'Boullosa', 'Suraiyya', 'Hughes', 'Rich', 'Giovanni']

In [56]:
spring_storm_text = \
"""The sky has given over 
its bitterness. 
Out of the dark change 
all day long 
rain falls and falls 
as if it would never end. 
Still the snow keeps 
its hold on the ground. 
But water, water 
from a thousand runnels! 
It collects swiftly, 
dappled with black 
cuts a way for itself 
through green ice in the gutters. 
Drop after drop it falls 
from the withered grass-stems 
of the overhanging embankment."""


#Splits the text by new line \n
spring_storm_lines = spring_storm_text.split("\n")
print(spring_storm_lines)

['The sky has given over ', 'its bitterness. ', 'Out of the dark change ', 'all day long ', 'rain falls and falls ', 'as if it would never end. ', 'Still the snow keeps ', 'its hold on the ground. ', 'But water, water ', 'from a thousand runnels! ', 'It collects swiftly, ', 'dappled with black ', 'cuts a way for itself ', 'through green ice in the gutters. ', 'Drop after drop it falls ', 'from the withered grass-stems ', 'of the overhanging embankment.']

In [58]:
#Joining elements of an array
reapers_line_one_words = ["Black", "reapers", "with", "the", "sound", "of", "steel", "on", "stones"]

reapers_line_one = " ".join(reapers_line_one_words)
print(reapers_line_one)

Black reapers with the sound of steel on stones

In [ ]:
#Joings winter_trees_lines using 
winter_trees_lines = ['All the complicated details', 'of the attiring and', 'the disattiring are completed!', 'A liquid moon', 'moves gently among', 'the long branches.', 'Thus having prepared their buds', 'against a sure winter', 'the wise trees', 'stand sleeping in the cold.']

winter_trees_full = "\n".join(winter_trees_lines)
print(winter_trees_full)

In [59]:
love_maybe_lines = ['Always    ', '     in the middle of our bloodiest battles  ', 'you lay down your arms', '           like flowering mines    ','\n' ,'   to conquer me home.    ']

#Strip whitespace
love_maybe_lines_stripped = []
for x in love_maybe_lines:
  love_maybe_lines_stripped.append(x.strip())


# Join the lines in love_maybe_lines_stripped 
love_maybe_full = "\n".join(love_maybe_lines_stripped)
print(love_maybe_full)

Always
in the middle of our bloodiest battles
you lay down your arms
like flowering mines

to conquer me home.

In [60]:
toomer_bio = \
"""
Nathan Pinchback Tomer, who adopted the name Jean Tomer early in his literary career, was born in Washington, D.C. in 1894. Jean is the son of Nathan Tomer was a mixed-race freedman, born into slavery in 1839 in Chatham County, North Carolina. Jean Tomer is most well known for his first book Cane, which vividly portrays the life of African-Americans in southern farmlands.
"""

#Use replace to correct tomer to toomer 
toomer_bio_fixed = toomer_bio.replace("Tomer", "Toomer")
print(toomer_bio_fixed)

Nathan Pinchback Toomer, who adopted the name Jean Toomer early in his literary career, was born in Washington, D.C. in 1894. Jean is the son of Nathan Toomer was a mixed-race freedman, born into slavery in 1839 in Chatham County, North Carolina. Jean Toomer is most well known for his first book Cane, which vividly portrays the life of African-Americans in southern farmlands.

In [61]:
god_wills_it_line_one = "The very earth will disown you"

#Find index of substring 
disown_placement = god_wills_it_line_one.find("disown")
print(disown_placement)

20

In [ ]:
#Using formatting 
def poem_title_card(title, poet):
  return("The poem \"{}\" is written by {}.".format(title,poet))

print(poem_title_card("Harry Potter", "JK Rowling"))

In [62]:
highlighted_poems = "Afterimages:Audre Lorde:1997,  The Shadow:William Carlos Williams:1915, Ecstasy:Gabriela Mistral:1925,   Georgia Dusk:Jean Toomer:1923,   Parting Before Daybreak:An Qi:2014, The Untold Want:Walt Whitman:1871, Mr. Grumpledump's Song:Shel Silverstein:2004, Angel Sound Mexico City:Carmen Boullosa:2013, In Love:Kamala Suraiyya:1965, Dream Variations:Langston Hughes:1994, Dreamwood:Adrienne Rich:1987"

print(highlighted_poems)


#Split highlighted_poems by the ,
highlighted_poems_list = highlighted_poems.split(",")
print()
print(highlighted_poems_list)

#Removed whitespace from highlighted_poems_list
highlighted_poems_stripped = []
for x in highlighted_poems_list:
  highlighted_poems_stripped.append(x.strip())
print()
print(highlighted_poems_stripped)

#Split highlighted_poems_stripped at the :
highlighted_poems_details = []
for x in highlighted_poems_stripped:
  highlighted_poems_details.append(x.split(":"))

print()
print(highlighted_poems_details)

#Splits up highlighted_poems_details into titles, poets, and dates 
titles = []
poets = []
dates = []
for x in highlighted_poems_details:
  titles.append(x[0])
  poets.append(x[1])
  dates.append(x[2])

for x in range(0,len(titles)):
  print("The poem {title} was published by {poet} in {date}.".format(title = titles[x], poet = poets[x], date = dates[x]))

Afterimages:Audre Lorde:1997,  The Shadow:William Carlos Williams:1915, Ecstasy:Gabriela Mistral:1925,   Georgia Dusk:Jean Toomer:1923,   Parting Before Daybreak:An Qi:2014, The Untold Want:Walt Whitman:1871, Mr. Grumpledump's Song:Shel Silverstein:2004, Angel Sound Mexico City:Carmen Boullosa:2013, In Love:Kamala Suraiyya:1965, Dream Variations:Langston Hughes:1994, Dreamwood:Adrienne Rich:1987

['Afterimages:Audre Lorde:1997', '  The Shadow:William Carlos Williams:1915', ' Ecstasy:Gabriela Mistral:1925', '   Georgia Dusk:Jean Toomer:1923', '   Parting Before Daybreak:An Qi:2014', ' The Untold Want:Walt Whitman:1871', " Mr. Grumpledump's Song:Shel Silverstein:2004", ' Angel Sound Mexico City:Carmen Boullosa:2013', ' In Love:Kamala Suraiyya:1965', ' Dream Variations:Langston Hughes:1994', ' Dreamwood:Adrienne Rich:1987']

['Afterimages:Audre Lorde:1997', 'The Shadow:William Carlos Williams:1915', 'Ecstasy:Gabriela Mistral:1925', 'Georgia Dusk:Jean Toomer:1923', 'Parting Before Daybreak:An Qi:2014', 'The Untold Want:Walt Whitman:1871', "Mr. Grumpledump's Song:Shel Silverstein:2004", 'Angel Sound Mexico City:Carmen Boullosa:2013', 'In Love:Kamala Suraiyya:1965', 'Dream Variations:Langston Hughes:1994', 'Dreamwood:Adrienne Rich:1987']

[['Afterimages', 'Audre Lorde', '1997'], ['The Shadow', 'William Carlos Williams', '1915'], ['Ecstasy', 'Gabriela Mistral', '1925'], ['Georgia Dusk', 'Jean Toomer', '1923'], ['Parting Before Daybreak', 'An Qi', '2014'], ['The Untold Want', 'Walt Whitman', '1871'], ["Mr. Grumpledump's Song", 'Shel Silverstein', '2004'], ['Angel Sound Mexico City', 'Carmen Boullosa', '2013'], ['In Love', 'Kamala Suraiyya', '1965'], ['Dream Variations', 'Langston Hughes', '1994'], ['Dreamwood', 'Adrienne Rich', '1987']]
The poem Afterimages was published by Audre Lorde in 1997.
The poem The Shadow was published by William Carlos Williams in 1915.
The poem Ecstasy was published by Gabriela Mistral in 1925.
The poem Georgia Dusk was published by Jean Toomer in 1923.
The poem Parting Before Daybreak was published by An Qi in 2014.
The poem The Untold Want was published by Walt Whitman in 1871.
The poem Mr. Grumpledump's Song was published by Shel Silverstein in 2004.
The poem Angel Sound Mexico City was published by Carmen Boullosa in 2013.
The poem In Love was published by Kamala Suraiyya in 1965.
The poem Dream Variations was published by Langston Hughes in 1994.
The poem Dreamwood was published by Adrienne Rich in 1987.

In [63]:
daily_sales = \
"""Edith Mcbride   ;,;$1.21   ;,;   white ;,; 
09/15/17   ,Herbert Tran   ;,;   $7.29;,; 
white&blue;,;   09/15/17 ,Paul Clarke ;,;$12.52 
;,;   white&blue ;,; 09/15/17 ,Lucille Caldwell   
;,;   $5.13   ;,; white   ;,; 09/15/17,
Eduardo George   ;,;$20.39;,; white&yellow 
;,;09/15/17   ,   Danny Mclaughlin;,;$30.82;,;   
purple ;,;09/15/17 ,Stacy Vargas;,; $1.85   ;,; 
purple&yellow ;,;09/15/17,   Shaun Brock;,; 
$17.98;,;purple&yellow ;,; 09/15/17 , 
Erick Harper ;,;$17.41;,; blue ;,; 09/15/17, 
Michelle Howell ;,;$28.59;,; blue;,;   09/15/17   , 
Carroll Boyd;,; $14.51;,;   purple&blue   ;,;   
09/15/17   , Teresa Carter   ;,; $19.64 ;,; 
white;,;09/15/17   ,   Jacob Kennedy ;,; $11.40   
;,; white&red   ;,; 09/15/17, Craig Chambers;,; 
$8.79 ;,; white&blue&red   ;,;09/15/17   , Peggy Bell;,; $8.65 ;,;blue   ;,; 09/15/17,   Kenneth Cunningham ;,;   $10.53;,;   green&blue   ;,; 
09/15/17   ,   Marvin Morgan;,;   $16.49;,; 
green&blue&red   ;,;   09/15/17 ,Marjorie Russell 
;,; $6.55 ;,;   green&blue&red;,;   09/15/17 ,
Israel Cummings;,;   $11.86   ;,;black;,;  
09/15/17,   June Doyle   ;,;   $22.29 ;,;  
black&yellow ;,;09/15/17 , Jaime Buchanan   ;,;   
$8.35;,;   white&black&yellow   ;,;   09/15/17,   
Rhonda Farmer;,;$2.91 ;,;   white&black&yellow   
;,;09/15/17, Darren Mckenzie ;,;$22.94;,;green 
;,;09/15/17,Rufus Malone;,;$4.70   ;,; green&yellow 
;,; 09/15/17   ,Hubert Miles;,;   $3.59   
;,;green&yellow&blue;,;   09/15/17   , Joseph Bridges  ;,;$5.66   ;,; green&yellow&purple&blue 
;,;   09/15/17 , Sergio Murphy   ;,;$17.51   ;,;   
black   ;,;   09/15/17 , Audrey Ferguson ;,; 
$5.54;,;black&blue   ;,;09/15/17 ,Edna Williams ;,; 
$17.13;,; black&blue;,;   09/15/17,   Randy Fleming;,;   $21.13 ;,;black ;,;09/15/17 ,Elisa Hart;,; $0.35   ;,; black&purple;,;   09/15/17   ,
Ernesto Hunt ;,; $13.91   ;,;   black&purple ;,;   
09/15/17,   Shannon Chavez   ;,;$19.26   ;,; 
yellow;,; 09/15/17   , Sammy Cain;,; $5.45;,;   
yellow&red ;,;09/15/17 ,   Steven Reeves ;,;$5.50   
;,;   yellow;,;   09/15/17, Ruben Jones   ;,; 
$14.56 ;,;   yellow&blue;,;09/15/17 , Essie Hansen;,;   $7.33   ;,;   yellow&blue&red
;,; 09/15/17   ,   Rene Hardy   ;,; $20.22   ;,; 
black ;,;   09/15/17 ,   Lucy Snyder   ;,; $8.67   
;,;black&red  ;,; 09/15/17 ,Dallas Obrien ;,;   
$8.31;,;   black&red ;,;   09/15/17,   Stacey Payne 
;,;   $15.70   ;,;   white&black&red ;,;09/15/17   
,   Tanya Cox   ;,;   $6.74   ;,;yellow   ;,; 
09/15/17 , Melody Moran ;,;   $30.84   
;,;yellow&black;,;   09/15/17 , Louise Becker   ;,; 
$12.31 ;,; green&yellow&black;,;   09/15/17 ,
Ryan Webster;,;$2.94 ;,; yellow ;,; 09/15/17 
,Justin Blake ;,; $22.46   ;,;white&yellow ;,;   
09/15/17,   Beverly Baldwin ;,;   $6.60;,;   
white&yellow&black ;,;09/15/17   ,   Dale Brady   
;,;   $6.27 ;,; yellow   ;,;09/15/17 ,Guadalupe Potter ;,;$21.12   ;,; yellow;,; 09/15/17   , 
Desiree Butler ;,;$2.10   ;,;white;,; 09/15/17  
,Sonja Barnett ;,; $14.22 ;,;white&black;,;   
09/15/17, Angelica Garza;,;$11.60;,;white&black   
;,;   09/15/17   ,   Jamie Welch   ;,; $25.27   ;,; 
white&black&red ;,;09/15/17   ,   Rex Hudson   
;,;$8.26;,;   purple;,; 09/15/17 ,   Nadine Gibbs 
;,;   $30.80 ;,;   purple&yellow   ;,; 09/15/17   , 
Hannah Pratt;,;   $22.61   ;,;   purple&yellow   
;,;09/15/17,Gayle Richards;,;$22.19 ;,; 
green&purple&yellow ;,;09/15/17   ,Stanley Holland 
;,; $7.47   ;,; red ;,; 09/15/17 , Anna Dean;,;$5.49 ;,; yellow&red ;,;   09/15/17   ,
Terrance Saunders ;,;   $23.70  ;,;green&yellow&red 
;,; 09/15/17 ,   Brandi Zimmerman ;,; $26.66 ;,; 
red   ;,;09/15/17 ,Guadalupe Freeman ;,; $25.95;,; 
green&red ;,;   09/15/17   ,Irving Patterson 
;,;$19.55 ;,; green&white&red ;,;   09/15/17 ,Karl Ross;,;   $15.68;,;   white ;,;   09/15/17 , Brandy Cortez ;,;$23.57;,;   white&red   ;,;09/15/17, 
Mamie Riley   ;,;$29.32;,; purple;,;09/15/17 ,Mike Thornton   ;,; $26.44 ;,;   purple   ;,; 09/15/17, 
Jamie Vaughn   ;,; $17.24;,;green ;,; 09/15/17   , 
Noah Day ;,;   $8.49   ;,;green   ;,;09/15/17   
,Josephine Keller ;,;$13.10 ;,;green;,;   09/15/17 ,   Tracey Wolfe;,;$20.39 ;,; red   ;,; 09/15/17 ,
Ignacio Parks;,;$14.70   ;,; white&red ;,;09/15/17 
, Beatrice Newman ;,;$22.45   ;,;white&purple&red 
;,;   09/15/17, Andre Norris   ;,;   $28.46   ;,;   
red;,;   09/15/17 ,   Albert Lewis ;,; $23.89;,;   
black&red;,; 09/15/17,   Javier Bailey   ;,;   
$24.49   ;,; black&red ;,; 09/15/17   , Everett Lyons ;,;$1.81;,;   black&red ;,; 09/15/17 ,   
Abraham Maxwell;,; $6.81   ;,;green;,;   09/15/17   
,   Traci Craig ;,;$0.65;,; green&yellow;,; 
09/15/17 , Jeffrey Jenkins   ;,;$26.45;,; 
green&yellow&blue   ;,;   09/15/17,   Merle Wilson 
;,;   $7.69 ;,; purple;,; 09/15/17,Janis Franklin   
;,;$8.74   ;,; purple&black   ;,;09/15/17 ,  
Leonard Guerrero ;,;   $1.86   ;,;yellow  
;,;09/15/17,Lana Sanchez;,;$14.75   ;,; yellow;,;   
09/15/17   ,Donna Ball ;,; $28.10  ;,; 
yellow&blue;,;   09/15/17   , Terrell Barber   ;,; 
$9.91   ;,; green ;,;09/15/17   ,Jody Flores;,; 
$16.34 ;,; green ;,;   09/15/17,   Daryl Herrera 
;,;$27.57;,; white;,;   09/15/17   , Miguel Mcguire;,;$5.25;,; white&blue   ;,;   09/15/17 ,   
Rogelio Gonzalez;,; $9.51;,;   white&black&blue   
;,;   09/15/17   ,   Lora Hammond ;,;$20.56 ;,; 
green;,;   09/15/17,Owen Ward;,; $21.64   ;,;   
green&yellow;,;09/15/17,Malcolm Morales ;,;   
$24.99   ;,;   green&yellow&black;,; 09/15/17 ,   
Eric Mcdaniel ;,;$29.70;,; green ;,; 09/15/17 
,Madeline Estrada;,;   $15.52;,;green;,;   09/15/17 
, Leticia Manning;,;$15.70 ;,; green&purple;,; 
09/15/17 ,   Mario Wallace ;,; $12.36 ;,;green ;,; 
09/15/17,Lewis Glover;,;   $13.66   ;,;   
green&white;,;09/15/17,   Gail Phelps   ;,;$30.52   
;,; green&white&blue   ;,; 09/15/17 , Myrtle Morris 
;,;   $22.66   ;,; green&white&blue;,;09/15/17"""

#------------------------------------------------
# Start coding below!

#Replaces ;,; with |
daily_sales_replaced = daily_sales.replace(";,;", "|")
#print(daily_sales_replaced)

# daily_sales_replaced splitting by ,
daily_transactions = daily_sales_replaced.split(",")
#print(daily_transactions)

#Splits the strings by |
daily_transactions_split= []
for x in daily_transactions:
  daily_transactions_split.append(x.split("|"))
#print(daily_transactions_split)

#Clean up whitespace 
transactions_clean = []
for x in daily_transactions_split:
  transaction_clean = []
  for y in x:
    transaction_clean.append(y.strip())
  transactions_clean.append(transaction_clean)
#print(transactions_clean)

# Splitting up customers sales and thread sold into their own lists
customers = []
sales = []
thread_sold = []
for x in transactions_clean:
    customers.append(x[0])
    sales.append(x[1])
    thread_sold.append(x[2])
#print(customers)
#print(sales)
#print(thread_sold)

#Calculating the sum of sales 
total_sales = 0
for sale in sales:
  total_sales = total_sales + float((sale.strip("$")))
#print(total_sales)


#Splitting up colors &
thread_sold_split = []
for thread in thread_sold:
  for color in thread.split("&"):
    thread_sold_split.append(color)
#print(thread_sold_split)

#Function that totals the amount of times the input color is in thread_sold_split
def color_count(color):
  count = 0
  for colors in thread_sold_split:
    if colors == color:
      count += 1 
    else:
     continue
  return count

print(color_count("white"))

28