## Learn Python for Data Science

In [3]:
#To use the pandas library you must first import it 
import pandas as pd

#How to read in a csv:
#Here we are reading in a csv names laptops.csv into a variable laptops
laptops = pd.read_csv("laptops.csv")

#How to preview a dataset
laptops.head()

,problem,brand,repair_status,event_year,age,percent_problem_fixed
0,powerbattery,dell,repairable,2019,7,29.47
1,unknown,medion,end of life,2019,9,48.08
2,multiple,hp,end of life,2019,6,60.00
3,configuration,hp,repairable,2018,3,67.74
4,operating system,samsung,fixed,2019,9,59.72

In [4]:
#The dtypes method returns the data types assigned to each column within our csv 
# Objects are text, int64 are integers, float64 numbers with decimals 
laptops.dtypes

problem                   object
brand                     object
repair_status             object
event_year                 int64
age                        int64
percent_problem_fixed    float64
dtype: object

In [5]:
#Importing a new csv repair and printing out a preview 
import pandas as pd
repair = pd.read_csv('repair.csv')
repair.head()

,country,product_category,brand,year_of_manufacture,product_age,repair_status,year_repaired
0,gbr,aircon/dehumidifier,delonghi,2013.0,6.0,end of life,2019
1,nld,kettle,royal swiss,2019.0,0.0,fixed,2019
2,swe,mobile,apple,2015.0,3.0,repairable,2018
3,ita,desktop computer,dell,2011.0,10.0,fixed,2021
4,bel,power tool,makita,2015.0,4.0,end of life,2019

In [6]:
#This will print out the different values in the product_category with a count, 
#asc = True will display them smallest > largest 
product_counts = repair['product_category'].value_counts(ascending = True)

# show output
product_counts

projector                             159
games console                         191
aircon/dehumidifier                   244
musical instrument                    258
dslr/video camera                     374
paper shredder                        380
digital compact camera                398
hair dryer                            511
fan                                   543
flat screen                           577
battery/charger/adapter               643
desktop computer                      704
pc accessory                          712
handheld entertainment device         744
headphones                            892
toaster                               910
decorative or safety lights           910
hi-fi integrated                      981
large home electrical                1149
iron                                 1194
toy                                  1201
hair & beauty item                   1251
kettle                               1282
printer/scanner                      1290
tablet                               1347
tv and gaming-related accessories    1388
small home electrical                1664
sewing machine                       1669
watch/clock                          1947
mobile                               2265
misc                                 2405
food processor                       2450
power tool                           2794
portable radio                       3013
coffee maker                         3635
small kitchen item                   3685
hi-fi separates                      3911
vacuum                               4034
laptop                               4139
lamp                                 4250
Name: product_category, dtype: int64

In [7]:
## Count distinct values in repair_status column
status_counts = repair["repair_status"].value_counts()

# show output
status_counts

fixed          32601
end of life    15066
repairable     12881
unknown         1546
Name: repair_status, dtype: int64

In [8]:
#This also shows a count of repair status but in percentage format 
status_percents = repair["repair_status"].value_counts(normalize = True)

# show output
status_percents

fixed          0.525027
end of life    0.242632
repairable     0.207444
unknown        0.024898
Name: repair_status, dtype: float64

In [9]:
#Count of the distinct years 
year_repaired_counts = repair["year_repaired"].value_counts()

# show output
year_repaired_counts

2019    19366
2018    11784
2020     8172
2021     7711
2017     6418
2022     4070
2016     2231
2015     1189
2014      816
2013      301
2012       21
1999       15
Name: year_repaired, dtype: int64

In [10]:
#The describe method can give you an overview of the statistics of a column 
manufacture_year_description = repair["year_of_manufacture"].describe()

# show output
manufacture_year_description

count    21823.000000
mean      2007.142419
std         14.652976
min       1900.000000
25%       2004.000000
50%       2012.000000
75%       2016.000000
max       2022.000000
Name: year_of_manufacture, dtype: float64

In [11]:
#describe can also be used on text columns
brand_description = repair["brand"].describe()

# show output
brand_description

count       62092
unique       4628
top       unknown
freq        25961
Name: brand, dtype: object

In [14]:
import pandas as pd
vehicles = pd.read_csv('vehicles.csv')
vehicles.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
0,12988,amg e53 4matic+ (convertible),2022,auto,mercedes-benz,sedan/wagon,hybrid electric,hybrid electric,28.0
1,689,avalanche ffv,2007,auto,chevrolet,pickup,ethanol (e85),flexible fuel,21.0
2,950,impala,2010,auto,chevrolet,sedan/wagon,ethanol (e85),flexible fuel,29.0
3,250,yukon xl ffv,2004,auto,gmc,suv,ethanol (e85),flexible fuel,18.0
4,13089,sf90 spyder,2022,auto,ferrari,sedan/wagon,plug-in hybrid electric,hybrid electric,19.0

1.Display the index of the vehicles DataFrame.

In [16]:
vehicles.index

RangeIndex(start=0, stop=2520, step=1)

2.We have already defined a transmission_counts series. Display the index of that series.

In [17]:
transmission_counts = vehicles['transmission'].value_counts()
## YOUR SOLUTION HERE ##
transmission_counts.index

Index(['auto', 'continuously variable', 'unknown', 'single', 'manual',
       'transaxle', 'direct drive'],
      dtype='object')

3.Reset the index of transmission_counts to a RangeIndex, and assign the result to transmissions_counts_reset.

In [18]:
transmission_counts = vehicles['transmission'].value_counts()
## YOUR SOLUTION HERE ##
transmission_counts_reset = transmission_counts.reset_index()

# show output
transmission_counts_reset

                   index  transmission
0                   auto          2297
1  continuously variable           107
2                unknown            48
3                 single            35
4                 manual            27
5              transaxle             3
6           direct drive             3

1. Sort vehicles by year from lowest (oldest) to highest (newest)

In [19]:
## YOUR SOLUTION HERE ##
vehicles = vehicles.sort_values(
    by = "year"
)

# show output
vehicles.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
2082,649,taurus ffv,1991,auto,ford,sedan/wagon,methanol,flexible fuel,26.0
1652,658,econoline-fleet demo ffv,1992,unknown,ford,van,methanol,flexible fuel,17.0
1350,648,taurus ffv,1993,auto,ford,sedan/wagon,methanol,flexible fuel,26.0
121,659,econoline-fleet demo ffv,1993,unknown,ford,van,methanol,flexible fuel,17.0
480,632,taurus ffv,1994,auto,ford,sedan/wagon,ethanol (e85),flexible fuel,26.0

2. Sort vehicles by best_mpge from highest to lowest

In [20]:
## YOUR SOLUTION HERE ##
vehicles = vehicles.sort_values(
    by = "best_mpge",
    ascending = False
)

# show output
vehicles.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
159,11844,ioniq electric,2018,auto,hyundai,sedan/wagon,electric,dedicated,150.0
2142,12061,ioniq electric,2019,auto,hyundai,sedan/wagon,electric,dedicated,150.0
1507,11640,ioniq,2017,auto,hyundai,sedan/wagon,electric,dedicated,150.0
511,12752,model 3 standard range plus rwd,2021,auto,tesla,sedan/wagon,electric,dedicated,150.0
647,12370,model 3 standard range plus,2020,auto,tesla,sedan/wagon,electric,dedicated,148.0

3. We've already created a Series year_counts that counts the number of models per year in the dataset. Sort the index of year_counts to put the Series in chronological order from oldest/lowest to newest/highest. Does the number of models go up over time, or are there years where it fluctuates?

In [21]:
year_counts = vehicles['year'].value_counts()

## YOUR SOLUTION HERE ##
year_counts = year_counts.sort_index()

# show output
year_counts

1991      1
1992      1
1993      2
1994      2
1995      8
1996      8
1997     16
1998     22
1999     36
2000     31
2001     28
2002     44
2003     42
2004     39
2005     37
2006     36
2007     46
2008     49
2009     56
2010     56
2011    109
2012     99
2013    130
2014    120
2015    123
2016     89
2017    142
2018    170
2019    194
2020    199
2021    263
2022    320
2023      2
Name: year, dtype: int64

In [25]:
vehicles = vehicles.sort_values(by='year',ascending=False)
vehicles.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
1940,13107,taycan gts st,2023,auto,porsche,sedan/wagon,electric,dedicated,80.0
718,13106,taycan gts,2023,auto,porsche,sedan/wagon,electric,dedicated,83.0
84,12818,niro,2022,auto,kia,sedan/wagon,hybrid electric,hybrid electric,51.0
2017,13068,330e xdrive,2022,auto,bmw,sedan/wagon,plug-in hybrid electric,hybrid electric,30.0
1875,13105,gls 580 4matic,2022,auto,mercedes-benz,suv,hybrid electric,hybrid electric,21.0

1. Use .loc to select the first two rows (all 2023 models) and the manufacturer column. Assign the result to manufacturers_2023.

In [26]:
## YOUR SOLUTION HERE ##
manufacturers_2023 = vehicles.loc[[1940,718],["manufacturer"]]

# show output
manufacturers_2023

     manufacturer
1940      porsche
718       porsche

2. Use .iloc to select the first two rows (all 2023 models) and the fuel column. Assign the result to fuels_2023.

In [27]:
## YOUR SOLUTION HERE ##
fuels_2023 = vehicles.iloc[[0,1],[6]]

# show output
fuels_2023

          fuel
1940  electric
718   electric

In [29]:
vehicles = pd.read_csv('vehicles.csv')
vehicles.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
0,12988,amg e53 4matic+ (convertible),2022,auto,mercedes-benz,sedan/wagon,hybrid electric,hybrid electric,28.0
1,689,avalanche ffv,2007,auto,chevrolet,pickup,ethanol (e85),flexible fuel,21.0
2,950,impala,2010,auto,chevrolet,sedan/wagon,ethanol (e85),flexible fuel,29.0
3,250,yukon xl ffv,2004,auto,gmc,suv,ethanol (e85),flexible fuel,18.0
4,13089,sf90 spyder,2022,auto,ferrari,sedan/wagon,plug-in hybrid electric,hybrid electric,19.0

1.Complete the code to select the first four rows and first five columns.

In [30]:
## YOUR SOLUTION HERE ##
sliced = vehicles.iloc[0:4,0:5]

# show output
sliced

      id                          model  year transmission   manufacturer
0  12988  amg e53 4matic+ (convertible)  2022         auto  mercedes-benz
1    689                  avalanche ffv  2007         auto      chevrolet
2    950                         impala  2010         auto      chevrolet
3    250                   yukon xl ffv  2004         auto            gmc

2.Complete the code to select the chevrolet rows in the setup cell output along with the vehicle_type, fuel, and fuel_configuration columns.

In [31]:
## YOUR SOLUTION HERE ##
chevy = vehicles.loc[1:2,"vehicle_type":"fuel_configuration"]

# show output
chevy

  vehicle_type           fuel fuel_configuration
1       pickup  ethanol (e85)      flexible fuel
2  sedan/wagon  ethanol (e85)      flexible fuel

3.Complete the code to select all rows up to and including the 20th row, and all columns from year through to the end.

In [32]:
## YOUR SOLUTION HERE ##
large_slice = vehicles.iloc[:20,2:]

# show output
large_slice

,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
0,2022,auto,mercedes-benz,sedan/wagon,hybrid electric,hybrid electric,28.0
1,2007,auto,chevrolet,pickup,ethanol (e85),flexible fuel,21.0
2,2010,auto,chevrolet,sedan/wagon,ethanol (e85),flexible fuel,29.0
3,2004,auto,gmc,suv,ethanol (e85),flexible fuel,18.0
4,2022,auto,ferrari,sedan/wagon,plug-in hybrid electric,hybrid electric,19.0
5,2020,auto,chevrolet,pickup,ethanol (e85),flexible fuel,18.0
6,2022,auto,mercedes-benz,suv,hybrid electric,hybrid electric,21.0
7,2022,auto,toyota,sedan/wagon,hybrid electric,hybrid electric,43.0
8,2013,auto,gmc,pickup,ethanol (e85),flexible fuel,18.0
9,2022,auto,bmw,suv,hybrid electric,hybrid electric,25.0
10,2013,unknown,smart,sedan/wagon,electric,dedicated,112.0
11,2013,auto,jeep,suv,ethanol (e85),flexible fuel,23.0
12,1998,auto,ford,van,cng - compressed natural gas,dual/bi-fueled,17.0
13,2012,auto,chevrolet,sedan/wagon,ethanol (e85),flexible fuel,30.0
14,2021,auto,audi,sedan/wagon,hybrid electric,hybrid electric,31.0
15,2014,auto,jaguar,sedan/wagon,ethanol (e85),flexible fuel,27.0
16,2018,auto,kia,sedan/wagon,plug-in hybrid electric,hybrid electric,103.0
17,2019,auto,chrysler,sedan/wagon,ethanol (e85),flexible fuel,27.0
18,2007,auto,gmc,pickup,hybrid electric,hybrid electric,21.0
19,2019,auto,chevrolet,sedan/wagon,biodiesel (b20),dedicated,48.0

1.Create a Boolean mask that is True whenever best_mpge is greater than or equal to 25. Assign the Boolean mask to gt25.

In [33]:
## YOUR SOLUTION HERE ##
gt25 = vehicles["best_mpge"] >= 25

# show output
gt25.head()

0     True
1    False
2     True
3    False
4    False
Name: best_mpge, dtype: bool

2. Create a Boolean mask that is True whenever vehicle_type is sedan/wagon. Assign the Boolean mask to is_sedanwagon.

In [35]:
## YOUR SOLUTION HERE ##
is_sedanwagon = vehicles["vehicle_type"] == "sedan/wagon"
# show output
is_sedanwagon.head()

0     True
1    False
2     True
3    False
4     True
Name: vehicle_type, dtype: bool

1.The average of best_mpge is about 40. Create a Boolean mask to check each row for a best_mpge greater than 40. Assign the mask to the variable gt40.

In [36]:
gt40 = vehicles["best_mpge"] > 40
gt40

0       False
1       False
2       False
3       False
4       False
        ...
2515    False
2516    False
2517    False
2518    False
2519     True
Name: best_mpge, Length: 2520, dtype: bool

2.Use the comparison gt40 from the last checkpoint to filter vehicles down to only rows with above average best_mpge. Assign the result to above_average.

In [37]:
## YOUR SOLUTION HERE ##
above_average = vehicles[gt40]

# show output
above_average.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
7,12875,avalon hybrid,2022,auto,toyota,sedan/wagon,hybrid electric,hybrid electric,43.0
10,10539,fortwo,2013,unknown,smart,sedan/wagon,electric,dedicated,112.0
16,11948,optima plug-in hybrid,2018,auto,kia,sedan/wagon,plug-in hybrid electric,hybrid electric,103.0
19,12035,cruze,2019,auto,chevrolet,sedan/wagon,biodiesel (b20),dedicated,48.0
21,11909,fusion hybrid fwd,2018,auto,ford,sedan/wagon,hybrid electric,hybrid electric,43.0

3.Complete the code to filter vehicles down to only those rows where transmission is equal to auto. Assign the result to auto_transmission.

In [38]:
auto_transmission = vehicles[vehicles["transmission"] == "auto"]

# show output
auto_transmission.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
0,12988,amg e53 4matic+ (convertible),2022,auto,mercedes-benz,sedan/wagon,hybrid electric,hybrid electric,28.0
1,689,avalanche ffv,2007,auto,chevrolet,pickup,ethanol (e85),flexible fuel,21.0
2,950,impala,2010,auto,chevrolet,sedan/wagon,ethanol (e85),flexible fuel,29.0
3,250,yukon xl ffv,2004,auto,gmc,suv,ethanol (e85),flexible fuel,18.0
4,13089,sf90 spyder,2022,auto,ferrari,sedan/wagon,plug-in hybrid electric,hybrid electric,19.0

1.The Paris agreement was a major climate change treaty enacted in 2016. Combine the comparisons year_gt2016 and is_electric to produce True for electric vehicles introduced after 2016. Assign the result to combined.

In [40]:
year_gt2016 = vehicles['year'] > 2016
is_electric = vehicles['fuel'] == 'electric'
## YOUR SOLUTION HERE ##
combined = year_gt2016 & is_electric

combined

0       False
1       False
2       False
3       False
4       False
        ...
2515    False
2516    False
2517    False
2518    False
2519    False
Length: 2520, dtype: bool

2.Use combined to filter vehicles down to only those rows containing electric vehicles introduced after 2016. Assign the result to the variable electric_and_after_2016.

In [41]:
## YOUR SOLUTION HERE ##
electric_and_after_2016 = vehicles[combined]

# show output
electric_and_after_2016.sort_values(by='year').head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
916,11782,model s rwd 75 kwh,2017,auto,tesla,sedan/wagon,electric,dedicated,100.0
270,11777,model s awd - 60d,2017,auto,tesla,sedan/wagon,electric,dedicated,107.0
832,11636,i3 bev,2017,auto,bmw,sedan/wagon,electric,dedicated,137.0
829,11771,leaf,2017,auto,nissan,sedan/wagon,electric,dedicated,124.0
302,11775,model x awd - p100d,2017,auto,tesla,suv,electric,dedicated,92.0

3.Filter vehicles down to only those rows corresponding to biodiesel (b20) fuel vehicles with best_mpge greater than 40 (the average). Assign the result to the variable efficient_biodiesel. (Note: there may not be any!)

In [42]:
## YOUR SOLUTION HERE ##
'''
is_biodiesel = vehicles['fuel'] == 'biodiesel (b20)'
is_above_average = vehicles['best_mpge'] > 40
efficient_biodiesel = vehicles[is_biodiesel & is_above_average]
'''
efficient_biodiesel = vehicles[(vehicles["fuel"] == "biodiesel (b20)") & (vehicles["best_mpge"] > 40)]


# show output
efficient_biodiesel.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
19,12035,cruze,2019,auto,chevrolet,sedan/wagon,biodiesel (b20),dedicated,48.0
187,11738,xe,2017,auto,jaguar,sedan/wagon,biodiesel (b20),dedicated,42.0
499,12206,xf,2019,auto,jaguar,sedan/wagon,biodiesel (b20),dedicated,42.0
501,11824,xf,2018,auto,jaguar,sedan/wagon,biodiesel (b20),dedicated,42.0
564,12036,cruze hatchback,2019,auto,chevrolet,sedan/wagon,biodiesel (b20),dedicated,45.0

1.Combine the comparisons is_ethanol and is_methanol to produce True for any row whose fuel is either ethanol or methanol. Assign the result to combined.

In [44]:
is_ethanol = vehicles['fuel'] == 'ethanol (e85)'
is_methanol = vehicles['fuel'] == 'methanol'
## YOUR SOLUTION HERE ##
combined = is_ethanol | is_methanol 

combined

0       False
1        True
2        True
3        True
4       False
        ...
2515     True
2516    False
2517     True
2518    False
2519    False
Name: fuel, Length: 2520, dtype: bool

2.Use combined to filter vehicles down to only those rows containing vehicles running on either ethanol or methanol. Assign the result to ol_vehicles.

In [45]:
## YOUR SOLUTION HERE ##
ol_vehicles = vehicles[is_ethanol | is_methanol]

# show output
ol_vehicles.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
1,689,avalanche ffv,2007,auto,chevrolet,pickup,ethanol (e85),flexible fuel,21.0
2,950,impala,2010,auto,chevrolet,sedan/wagon,ethanol (e85),flexible fuel,29.0
3,250,yukon xl ffv,2004,auto,gmc,suv,ethanol (e85),flexible fuel,18.0
5,12302,silverado 4wd,2020,auto,chevrolet,pickup,ethanol (e85),flexible fuel,18.0
8,10584,sierra c / k 1500,2013,auto,gmc,pickup,ethanol (e85),flexible fuel,18.0

3.Filter vehicles down to only those rows with fuel equal to electric or best_mpge greater than 40 (the average.) Assign the result to electric_or_above_average.

In [46]:
## YOUR SOLUTION HERE ##

electric_or_above_average = vehicles[(vehicles["fuel"] == "electric") | (vehicles["best_mpge"] >40)]

# show output
electric_or_above_average.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
7,12875,avalon hybrid,2022,auto,toyota,sedan/wagon,hybrid electric,hybrid electric,43.0
10,10539,fortwo,2013,unknown,smart,sedan/wagon,electric,dedicated,112.0
16,11948,optima plug-in hybrid,2018,auto,kia,sedan/wagon,plug-in hybrid electric,hybrid electric,103.0
19,12035,cruze,2019,auto,chevrolet,sedan/wagon,biodiesel (b20),dedicated,48.0
21,11909,fusion hybrid fwd,2018,auto,ford,sedan/wagon,hybrid electric,hybrid electric,43.0

1.
    We've created a Boolean filter is_ford_truck that returns True whenever a vehicle is a Ford pickup truck. Create a new Boolean filter not_ford_truck that is True for every vehicle that is not a Ford pickup truck.

In [47]:
is_ford = vehicles['manufacturer'] == 'ford'
is_truck = vehicles['vehicle_type'] == 'pickup'
is_ford_truck = is_ford & is_truck

## YOUR SOLUTION HERE ##
not_ford_truck = ~is_ford_truck

2.Use not_ford_truck to filter vehicles to only those vehicles that aren't Ford pickup trucks. Assign the result to not_ford_truck_vehicles.

In [48]:
## YOUR SOLUTION HERE ##
not_ford_truck_vehicles = vehicles[not_ford_truck]

# show output
not_ford_truck_vehicles.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
0,12988,amg e53 4matic+ (convertible),2022,auto,mercedes-benz,sedan/wagon,hybrid electric,hybrid electric,28.0
1,689,avalanche ffv,2007,auto,chevrolet,pickup,ethanol (e85),flexible fuel,21.0
2,950,impala,2010,auto,chevrolet,sedan/wagon,ethanol (e85),flexible fuel,29.0
3,250,yukon xl ffv,2004,auto,gmc,suv,ethanol (e85),flexible fuel,18.0
4,13089,sf90 spyder,2022,auto,ferrari,sedan/wagon,plug-in hybrid electric,hybrid electric,19.0

3.Filter vehicles down to only vehicles manufactured by someone other than chevrolet or gmc. Assign the result to not_chevrolet_gmc.

In [49]:
## YOUR SOLUTION HERE ##

not_chevrolet_gmc = vehicles[~((vehicles["manufacturer"] == "chevrolet") | (vehicles["manufacturer"] == "gmc"))]

# show output
not_chevrolet_gmc.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
0,12988,amg e53 4matic+ (convertible),2022,auto,mercedes-benz,sedan/wagon,hybrid electric,hybrid electric,28.0
4,13089,sf90 spyder,2022,auto,ferrari,sedan/wagon,plug-in hybrid electric,hybrid electric,19.0
6,12989,amg gle 53 4matic+ (coupe),2022,auto,mercedes-benz,suv,hybrid electric,hybrid electric,21.0
7,12875,avalon hybrid,2022,auto,toyota,sedan/wagon,hybrid electric,hybrid electric,43.0
9,12864,x6 xdrive40i,2022,auto,bmw,suv,hybrid electric,hybrid electric,25.0

In [52]:
yes = "yes"
no = "no"
print(yes == no)

False

### Cleaning and Transforming Columns

In [53]:
import pandas as pd
parks = pd.read_csv('nationalpark_visitors.csv')
parks.head()

,index,Park,Location,AnnualPassPrice,Area,ParkType,Year2021,Year2020,Year2019
0,1,Great Smoky Mountains,"Gatlinburg, TN",40,816.3 sqmi,National park,14161548,12095720,12547743.0
1,2,Zion,"Springdale, UT",70,229.1 sqmi,National park,5039835,3591254,4488268.0
2,3,Yellowstone,"Jackson, WY",70,3468.4 sqmi,National park,4860242,3806306,4020288.0
3,4,Grand Canyon,"Grand Canyon Village, AZ",80,1902.0 sqmi,National park,4532677,2897098,5974411.0
4,5,Rocky Mountain,"Estes Park, CO",70,414.8 sqmi,National park,4434848,3305199,4670053.0

1.Display full column information for parks, and identify the one column that has a missing value.

In [54]:
## YOUR SOLUTION HERE ##
parks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            72 non-null     int64
 1   Park             72 non-null     object
 2   Location         72 non-null     object
 3   AnnualPassPrice  72 non-null     int64
 4   Area             72 non-null     object
 5   ParkType         72 non-null     object
 6   Year2021         72 non-null     int64
 7   Year2020         72 non-null     int64
 8   Year2019         71 non-null     float64
dtypes: float64(1), int64(4), object(4)
memory usage: 5.2+ KB

In [ ]:
#Renames the column Year2019 to Visitors2019
column_mapper = {'Year2019':'Visitors2019'}
parks = parks.rename(
  mapper=column_mapper, 
  axis=1)


#Drop column from a DF 
drop_columns = ['column_1', 'column_2']
df = df.drop(
  labels=drop_columns, 
  axis=1)

1.Rename the columns Year2021, Year2020, and Year2019 to Visitors2021, Visitors2020, and Visitors2019, respectively.

In [55]:
## YOUR SOLUTION HERE ##
column_mapper = {
    "Year2021" : "Visitors2021",
    "Year2020" : "Visitors2020",
    "Year2019" : "Visitors2019"
}

parks = parks.rename(
    mapper = column_mapper,
    axis = 1
)

# show output
parks.head()

,index,Park,Location,AnnualPassPrice,Area,ParkType,Visitors2021,Visitors2020,Visitors2019
0,1,Great Smoky Mountains,"Gatlinburg, TN",40,816.3 sqmi,National park,14161548,12095720,12547743.0
1,2,Zion,"Springdale, UT",70,229.1 sqmi,National park,5039835,3591254,4488268.0
2,3,Yellowstone,"Jackson, WY",70,3468.4 sqmi,National park,4860242,3806306,4020288.0
3,4,Grand Canyon,"Grand Canyon Village, AZ",80,1902.0 sqmi,National park,4532677,2897098,5974411.0
4,5,Rocky Mountain,"Estes Park, CO",70,414.8 sqmi,National park,4434848,3305199,4670053.0

2.Drop the index column from parks

In [57]:
## YOUR SOLUTION HERE ##
drop_columns = ["index"]
parks = parks.drop(
    labels = drop_columns,
    axis = 1
)

# show output
parks.head()

,Park,Location,AnnualPassPrice,Area,ParkType,Visitors2021,Visitors2020,Visitors2019
0,Great Smoky Mountains,"Gatlinburg, TN",40,816.3 sqmi,National park,14161548,12095720,12547743.0
1,Zion,"Springdale, UT",70,229.1 sqmi,National park,5039835,3591254,4488268.0
2,Yellowstone,"Jackson, WY",70,3468.4 sqmi,National park,4860242,3806306,4020288.0
3,Grand Canyon,"Grand Canyon Village, AZ",80,1902.0 sqmi,National park,4532677,2897098,5974411.0
4,Rocky Mountain,"Estes Park, CO",70,414.8 sqmi,National park,4434848,3305199,4670053.0

1.Calculate a 30% discount to the Grand Canyon and assign it to the variable amount_saved.

In [58]:
## YOUR SOLUTION HERE ##
amount_saved = 80 * .3
#parks.iloc[3,2] * .3

# show output
amount_saved

24.0

2.Compute the percent change in visitors to Zion National Park from 2019 to 2020. Assign the percent to the variable percentchange_2020.

In [59]:
## YOUR SOLUTION HERE ##
percentchange_2020 =  ((3591254 - 4488268) / 4488268) * 100

# show output
percentchange_2020

-19.985749514066452

3.Round percentchange_2020 to two decimal places and assign the rounded percent to a new variable rounded_percent.

In [60]:
## YOUR SOLUTION HERE ##
rounded_percent = round(percentchange_2020,2)

# show output
rounded_percent

-19.99

1.Calculate the change in visitors from 2019 to 2020 by subtracting Visitors2019 from Visitors2020. Assign the result to a new column Change2020.

In [61]:
## YOUR SOLUTION HERE ##
parks['Change2020'] = parks["Visitors2020"] - parks["Visitors2019"]

# show output
parks[['Visitors2020','Visitors2019','Change2020']].head()

   Visitors2020  Visitors2019  Change2020
0      12095720    12547743.0   -452023.0
1       3591254     4488268.0   -897014.0
2       3806306     4020288.0   -213982.0
3       2897098     5974411.0  -3077313.0
4       3305199     4670053.0  -1364854.0

2.
    Create a PercentChange2020 column by dividing Change2020 by Visitors2019 multiplied by 100.

In [62]:
## YOUR SOLUTION HERE ##
parks['PercentChange2020'] = (parks['Change2020'] / parks["Visitors2019"]) * 100
# show output
parks[['Visitors2020','Visitors2019','Change2020','PercentChange2020']].head()

   Visitors2020  Visitors2019  Change2020  PercentChange2020
0      12095720    12547743.0   -452023.0          -3.602425
1       3591254     4488268.0   -897014.0         -19.985750
2       3806306     4020288.0   -213982.0          -5.322554
3       2897098     5974411.0  -3077313.0         -51.508224
4       3305199     4670053.0  -1364854.0         -29.225664

3.Modify the PercentChange2020 column by rounding the percent values to 2 decimal places.

In [63]:
## YOUR SOLUTION HERE ##
parks['PercentChange2020'] = parks['PercentChange2020'].round(decimals=2)

# show output - we've called .describe() to see an overall picture of the percent change from 2019 to 2020
parks['PercentChange2020'].describe()

count    71.000000
mean    -29.499014
std      28.994767
min     -99.140000
25%     -47.405000
50%     -27.130000
75%     -10.295000
max      25.590000
Name: PercentChange2020, dtype: float64

1.Split the Area column to separate the area values and units and assign the values to a new column called AreaValues.

In [64]:
## YOUR SOLUTION HERE ##
area_split = parks["Area"].str.split(
    pat=" ",
    expand = True
)
parks["AreaValues"] = area_split[0] 

# show output
parks[['Area', 'AreaValues']].head()

          Area AreaValues
0   816.3 sqmi      816.3
1   229.1 sqmi      229.1
2  3468.4 sqmi     3468.4
3  1902.0 sqmi     1902.0
4   414.8 sqmi      414.8

2.Concatenate the Park and ParkType columns into a new column called ParkTitle. Use a single whitespace (' ') separator when combining them.

In [65]:
## YOUR SOLUTION HERE ##
parks['ParkTitle'] =  parks["Park"].str.cat(
    parks["ParkType"],
    sep = " "
)

# show output
parks[['Park', 'ParkType', 'ParkTitle']].head()

                    Park       ParkType                            ParkTitle
0  Great Smoky Mountains  National park  Great Smoky Mountains National park
1                   Zion  National park                   Zion National park
2            Yellowstone  National park            Yellowstone National park
3           Grand Canyon  National park           Grand Canyon National park
4         Rocky Mountain  National park         Rocky Mountain National park

1.The texts in the ParkTitle column are not correctly titled. Specifically, the words 'park' and 'preserve' are all lowercase. Modify the text in the ParkTitle column to a title.

In [66]:
## YOUR SOLUTION HERE ##
parks['ParkTitle'] = parks["ParkTitle"].str.title()

# show output
parks['ParkTitle'].head()

0    Great Smoky Mountains National Park
1                     Zion National Park
2              Yellowstone National Park
3             Grand Canyon National Park
4           Rocky Mountain National Park
Name: ParkTitle, dtype: object

2.When we split the Location column in the previous exercise, the resulting State column contained an unnecessary leading whitespace (ex: ' TN'). Modify the State column by removing the whitespace.

In [70]:
## YOUR SOLUTION HERE ##
parks['State'] = parks['State'].str.strip()

# show output
parks['State'].head()

3. In the `ParkTitle` column, the dataset author use `'&'` and `'And'` interchangeably. For example, in rows 17 and 37 we have

-|ParkTitle|
-|--|
17|New River Gorge National Park And Preserve|
37|Great Sand Dunes National Park & Preserve|

Modify the `ParkTitle` column by replacing every instance of `&` with `And`

In [71]:
## YOUR SOLUTION HERE ##
parks['ParkTitle'] = parks["ParkTitle"].str.replace(
    pat = "&",
    repl = "And",
    regex = False
)

# show output
parks.loc[37,:]

Park                                            Great Sand Dunes
Location                                               Mosca, CO
AnnualPassPrice                                               45
Area                                                  232.9 sqmi
ParkType                                National park & preserve
Visitors2021                                              602613
Visitors2020                                              461532
Visitors2019                                            527546.0
Change2020                                              -66014.0
PercentChange2020                                         -12.51
AreaValues                                                 232.9
ParkTitle            Great Sand Dunes National Park And Preserve
Name: 37, dtype: object

In [72]:
parks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Park               72 non-null     object
 1   Location           72 non-null     object
 2   AnnualPassPrice    72 non-null     int64
 3   Area               72 non-null     object
 4   ParkType           72 non-null     object
 5   Visitors2021       72 non-null     int64
 6   Visitors2020       72 non-null     int64
 7   Visitors2019       71 non-null     float64
 8   Change2020         71 non-null     float64
 9   PercentChange2020  71 non-null     float64
 10  AreaValues         72 non-null     object
 11  ParkTitle          72 non-null     object
dtypes: float64(3), int64(3), object(6)
memory usage: 6.9+ KB

1.Convert the AreaValue column to float64.

In [73]:
## YOUR SOLUTION HERE ##
parks['AreaValues'] = parks["AreaValues"].astype("float64")

2.Convert the State column to category.


parks['State'] = parks["State"].astype("category")

3.Call .info() to check that your type reassignments worked.

In [76]:
## YOUR SOLUTION HERE ##
parks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Park               72 non-null     object
 1   Location           72 non-null     object
 2   AnnualPassPrice    72 non-null     int64
 3   Area               72 non-null     object
 4   ParkType           72 non-null     object
 5   Visitors2021       72 non-null     int64
 6   Visitors2020       72 non-null     int64
 7   Visitors2019       71 non-null     float64
 8   Change2020         71 non-null     float64
 9   PercentChange2020  71 non-null     float64
 10  AreaValues         72 non-null     float64
 11  ParkTitle          72 non-null     object
dtypes: float64(4), int64(3), object(5)
memory usage: 6.9+ KB